<div class="footer_content">
	<div class="footer page-footer container modal-body">
		<div class="col-md-3">
		  <h3>让我们来帮到你</h3>
		</div>
		<div class="col-md-3">
		  <h3>关注我们</h3>
		  <li><img src="http://7xjuxp.com1.z0.glb.clouddn.com/pic_jpg/ppmn8ti27yahkhmuce.png" style="width:158px;"></li>
		  <li><img src="http://7xjuxp.com1.z0.glb.clouddn.com/pic_jpg/qrcode_for_gh_71bec90f0f4b_258.jpg" alt="" style="width:158px;"></li>
		    
		</div>

		<div class="col-md-3">
		  <h3>合作伙伴</h3>
		    <a href="#">
		    <img src="http://7xidkt.com1.z0.glb.clouddn.com/images/png/logometro.png"></a>
		    <a href="#">
		    <img src="http://7xidkt.com1.z0.glb.clouddn.com/imageshigreen.png"></a>
		</div>
		<div class="col-md-3">
		  <h3>社区大管家是什么</h3>
		  <small>我们做的就是将零散的用户需求集中起来，统一采购配送，方便大家。</small>
		</div>
	</div>
	<div class="text-center ftcy">
	    	<small>&copy;2015</small>
	    	<a href="/">10anju.com</a>
	    	<small>All Rights Reserved.</small>
	    	<span>&nbsp;</span>
	    	<span class="text-muted">Tel:</span>
	    	<span>&nbsp;</span>
	    	<em>4008000000</em>
	    	<span>&nbsp;</span>
	    	<span class="text-muted">Email:</span>
	    	<span>&nbsp;</span>
	    	<em>hi#(@)havemay.com</em>
	</div>
</div>
