<div class="footer_content">
	<div class="footer page-footer container modal-body">
		<div class="col-md-3 col-xs-6">
		  <h3>让我们来帮到你</h3>
		  <ul>
		  	<li><a href="/#!/help">帮助中心</a></li>
		  	<li><a href="/#!/settings/profile">用户中心</a></li>
		  	<li><a href="/#!/">用户权益</a></li>
		  	<li><a href="">......</a></li>
		  </ul>
		</div>
		<div class="col-md-3 col-xs-6">
		  <h3>关注我们</h3>
		  <li><img src="http://7xjuxp.com1.z0.glb.clouddn.com/pic_jpg/ppmn8ti27yahkhmuce.png-100"><h6 class="">支付宝服务窗</h6></li>
		  <li><img src="http://7xjuxp.com1.z0.glb.clouddn.com/pic_jpg/qrcode_for_gh_71bec90f0f4b_258.jpg-100" alt=""><h6 class="">微信公众号</h6></li>
		    
		</div>

		<div class="col-md-3 col-xs-6">
		  <h3>合作伙伴</h3>
		  	<li class="col-md-12 col-xs-12"><a href="#"><img src="http://7xidkt.com1.z0.glb.clouddn.com/images/png/logometro.png"></a></li>
		  	<div class="mt10"></div>
		  	<li class="col-md-12 col-xs-12"><a href="#"><img style="background-color:white;" src="http://7xidkt.com1.z0.glb.clouddn.com/imageshigreen.png"></a></li>
		  	<div class="mt10"></div>
		  	<li class="col-md-12 col-xs-12"><a href=""><img src="http://7xjuxp.com1.z0.glb.clouddn.com/pic_jpg/182x64.png" alt=""></a></li>
		  	<li><a href="">合作意向洽谈</a></li>
		</div>
		<div class="col-md-3 col-xs-6">
		  <a href="/about" target="_blank"><h3>茗语e家是什么</h3></a>
		  <small>我们是切实践行国家互联网+战略，将传统农行以互联网形态，直接搭建产地和用户的平台。茗语e家便是立足茗语华苑，将业主的需求通过网站、支付宝服务窗和微信公众号等渠道集中起来，统一由我们进行采购配送，方便大家。</small>
		  <div><a href="">加入我们</a></div>
		</div>
	</div>
	<div class="text-center ftcy">
    	<small><i class="text-muted fa fa-copyright"></i>2015</small>
    	<a href="/">黑莓科技&nbsp;havemay.cn</a>
    	<small>All Rights Reserved.</small>
    	<span>&nbsp;</span>
    	<span class="text-muted fa fa-phone-square"></span>
    	<span>&nbsp;</span>
    	<em>4008000000</em>
    	<span>&nbsp;</span>
    	<span class="text-muted fa fa-envelope"></span>
    	<span>&nbsp;</span>
    	<em>havemay</em><i class="fa fa-at"></i><em>126.com</em>&nbsp;<span>粤ICP备15049215号-1</span><script language="javascript" type="text/javascript" src="http://js.users.51.la/18583798.js"></script>
		<noscript><a href="http://www.51.la/?18583798" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/18583798.asp" style="border:none" /></a></noscript>
	</div>
</div>
