<div class="footer_content">
	<div class="footer page-footer container modal-body">
		<div class="col-md-3">
		  <h3>让我们来帮到你</h3>
		  <ul>
		  	<li><a href="/#!/help">帮助中心</a></li>
		  	<li><a href="/#!/settings/profile">用户中心</a></li>
		  	<li><a href="/#!/">用户权益</a></li>
		  	<li><a href="">......</a></li>
		  </ul>
		</div>
		<div class="col-md-3">
		  <h3>关注我们</h3>
		  <li><img src="http://7xjuxp.com1.z0.glb.clouddn.com/pic_jpg/ppmn8ti27yahkhmuce.png" style="width:128px;"><h6 class="">支付宝服务窗</h6></li>
		  <li><img src="http://7xjuxp.com1.z0.glb.clouddn.com/pic_jpg/qrcode_for_gh_71bec90f0f4b_258.jpg" alt="" style="width:128px;"><h6 class="">微信公众号</h6></li>
		    
		</div>

		<div class="col-md-3">
		  <h3>合作伙伴</h3>
		  	<li><a href="#"><img src="http://7xidkt.com1.z0.glb.clouddn.com/images/png/logometro.png"></a></li>
		  	<div class="mt10"></div>
		  	<li><a href="#"><img style="background-color:white;" src="http://7xidkt.com1.z0.glb.clouddn.com/imageshigreen.png"></a></li>
		  	<div class="mt10"></div>
		  	<li><a href=""><img src="http://7xjuxp.com1.z0.glb.clouddn.com/pic_jpg/182x64.png" alt=""></a></li>
		</div>
		<div class="col-md-3">
		  <a href="/about" target="_blank"><h3>茗语E+是什么</h3></a>
		  <small>我们是切实践行国家互联网+战略，将传统农行以互联网形态，直接搭建产地和用户的平台。茗语E+便是立足茗语华苑，将业主的需求通过网站、支付宝服务窗和微信公众号等渠道集中起来，统一由E+进行采购配送，方便大家。</small>
		</div>
	</div>
	<div class="text-center ftcy">
	    	<small><i class="text-muted glyphicon glyphicon-copyright-mark"></i>2015</small>
	    	<a href="/">黑莓科技&nbsp;havemay.cn</a>
	    	<small>All Rights Reserved.</small>
	    	<span>&nbsp;</span>
	    	<span class="text-muted glyphicon glyphicon-phone-alt"></span>
	    	<span>&nbsp;</span>
	    	<em>4008000000</em>
	    	<span>&nbsp;</span>
	    	<span class="text-muted glyphicon glyphicon-envelope"></span>
	    	<span>&nbsp;</span>
	    	<em>hi#(@)havemay.com</em>
	</div>
</div>
