<section>
	<div class="row">
		<div class="col-md-3">
			<div class="page-header">
				帮助中心
			</div>
			<div>
				<ul>
					<li><a href="">会员系统</a></li>
					<li>商城系统</li>
					<li>文章系统</li>
					<li>兴趣圈子</li>
				</ul>
			</div>
		</div>
		<div class="col-md-7">
			<div class="page-body">
				<div>
					<ul>
						<li>
							<p>注册</p>
						</li>
						<li><p>验证</p></li>
						<li><p></p></li>
					</ul>
				</div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<!-- ali begin -->
			<a id="J_psTabHashEnd" href="#" name="ps-tabinfo-hash"></a>	
				<div class="ps-tab sl-mt42 fn-clear">
					<ul>
						<li class="current">
							<a href="#ps-tabinfo-hash" class="">
								<span><em>注册</em></span>
							</a>
						</li>
						<li class="">
							<a href="https://b.alipay.com/order/productDetail.htm?productId=2012111200373124&tabId=2#ps-tabinfo-hash" class="">
								<span><em>验证</em></span>
							</a>
						</li>
						<li class="">
							<a href="https://b.alipay.com/order/productDetail.htm?productId=2012111200373124&tabId=3#ps-tabinfo-hash" class="">
								<span><em>登记社区</em></span>
							</a>
						</li>
						<li class="">
							<a href="https://b.alipay.com/order/productDetail.htm?productId=2012111200373124&tabId=4#ps-tabinfo-hash" class="">
								<span><em>技术集成</em></span>
							</a>
						</li>
					</ul>
				</div>
					
					<div id="J-tab-content1" class="ps-content fn-clear">
自助签约平台cms/新产品详情/即时到帐收款tab4开始:morderprod/pd/jsdzsktab4.vm -->    <div>
			        <ul class="li-dot">
			  <li>您申请的产品需要通过技术开发才能在您的网站上使用，<a target="_blank" href="http://download.alipay.com/public/api/base/alipaydirect.zip">请点此下载集成开发包</a><span class="down-btn"></span></li>

			<li>如您集成遇到问题,可以咨询<a target="_blank" href="https://b.alipay.com/order/techService.htm">在线技术客服</a></li>
			</ul>
			    </div>
			    <!-- CMS:自助签约平台cms/新产品详情/即时到帐收款tab4结束:morderprod/pd/jsdzsktab4.vm -->									</div>
					<!-- CMS:自助签约平台cms/新产品详情/底部如何实名认证内容显示开始:morderprod/pd/rhsmrz.vm --><style>
			  .apply-btnarea div.fn-left{padding-left:63px;}
			  .padleft12{padding-left:12px;}
			  </style>
			<div class="ps-tab sl-mt42 fn-clear">
			        <ul id="J-tab-trigger0">
			      <li><span><em>如何实名认证</em></span></li>
			      <li><span><em>审核原因查询</em></span></li>
			      <li><span><em>行业分类</em></span></li> 
			    </ul>                <a id="J_psTabHashEnd" href="#" name="ps-tab-hash"></a>
			      </div>
			      <div id="J-tab-content0">
			        <div class="fn-hide ps-content fn-clear">
			          <h3>支付宝实名认证流程<span class="morehelp"><a href="http://act.life.alipay.com/shopping/before/help/index.html
			" target="_blank">查看更多申请帮助</a></span></h3>
			          <span class="ft-bold">企业账户认证，您需要准备以下材料：</span><a href="http://help.alipay.com/support/help_detail.htm?help_id=248496&src=shangfu_help01" target="_blank">查看申请流程</a>  
			          <ul class="li-dot sl-mt10">
			            <li>营业执照；</li>              
			            <li>申请人的有效身份证信息；</li>
			            <li>提交申请人如非法定代表人需提供企业委托授权书；</li>
			            <li>银行对公账户；</li>
			          </ul>
			          <p class="sl-mt10"><span class="ft-bold ">个人账户认证，您需要准备以下材料：</span><a href="http://help.alipay.com/support/help_detail.htm?help_id=248498&src=shangfu_help02" target="_blank">查看申请流程</a>  </p>
			          <ul class="li-dot sl-mt10">          
			            <li>申请人身份证彩色照片或彩色扫描件（正反面都需要）；</li>
			            <li>申请人的银行账户；</li>
			          </ul>
			          <div class="apply-flow">
			            <h4>申请流程：</h4>
			            <div class="flow-pic"><img src="https://img.alipay.com/sys/morderprod/product/flow.png"  alt=""/></div>
			          </div>        </div>
			        <div class="fn-hide ps-content fn-clear">        
			            <div class="apply-flow">
			            如您的申请未通过，可<a href="http://help.alipay.com/support/help_detail.htm?help_id=429853&keyword=%C9%F3%BA%CB" target="_blank">点此查看审核原因</a>，根据建议修改后重新申请！
			            <h4>申请流程：</h4>
			            <div class="flow-pic"><img src="https://img.alipay.com/sys/morderprod/product/flow.png"  alt=""/></div>
			          </div>        </div>
			        <div class="fn-hide ps-content fn-clear">
			          <div class="apply-flow">
			            申请本产品时，需选择您的行业分类，如果您不了解您的行业类型，<a href="https://cshall.alipay.com/support/help_detail.htm?help_id=396829" target="_blank">请点此查看行业分类表</a>
			            <h4>申请流程：</h4>
			            <div class="flow-pic"><img src="https://img.alipay.com/sys/morderprod/product/flow.png"  alt=""/></div>
			          </div>        </div>
			</div>
			<!-- ali end -->
		</div>
	</div>
</section>