<style type="text/css">
	body{background:#f0f0f0;}
</style>
<section>
	<div class="mt20" style="">
		<div class="col-md-3 col-xs-12 hc_left">
			<div class="hc_left">
				<div>
					<li><h1 class="hctop">帮助中心</h1></li>
					<ul class="nav nav-pills nav-stacked">
						<li>
							<a href="/#!/help#member" class="h3">会员系统</a>
							<ul>
								<li><a href="/#!/help#zhuce">1.注册</a></li>
								<li><a href="/#!/help#denglu">2.登录</a></li>
								<li><a href="/#!/help#yanzheng">3.入驻</a></li>
							</ul>
						</li>
						<li>
							<a href="/#!/help#shop" class="h3">商城系统</a>
							<ul>
								<li><a href="/#!/help#category">1.分类</a></li>
								<li><a href="/#!/help#good">2.商品</a></li>
								<li><a href="/#!/help#cart">3.购物篮</a></li>
								<li><a href="/#!/help#order">4.订单</a></li>
								<li><a href="/#!/help#porder">5.私人订制</a></li>
								<li><a href="/#!/help#pay">6.支付</a></li>
							</ul>
						</li>
						<li><a href="/#!/help#forum" class="h3">业主论坛</a></li>
						<li><a href="/#!/help#article" class="h3">博客系统</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-9 col-xs-12">
			<div class="col-md-12 hc_center">
				<div class="breadcrumb"><strong>Tips:</strong><span>帮助文档持续更新中...</span></div>
				<div class="">
					<p>
						本系统目前仅支持PC端，适配浏览器列表见下图。移动版本客户端正在拼命赶工。
					</p>
					<img src="http://7xjuxp.com1.z0.glb.clouddn.com/pic_gif/compatible.gif">
				</div>
				<div id="member">
					<h1>一、会员系统</h1>
					<ul>
						<li id="zhuce">
							<h3>1.注册</h3>
							<p>用户名，手机号，邮箱，密码这四项为必填项。</p>
							<li>用户名4位以上，可以中文；</li>
							<li>手机号11位，必须唯一，发放通知，确认订单，联系收货，就靠它了Y(^_^)Y；</li>
							<li>邮箱须为您常用邮箱，可用于接收系统通知，会员杂志，重要操作记录等；</li>
							<li>密码6位以上，建议大小写字母＋数字，请妥善保管，不同网站间的密码请尽量保持不同。</li><p class="label label-warning">一切填写妥当，要选择下面的“阅读并接受用户协议”才能继续，否则将退回首页-_-#</p>
							<a href="http://7xjuxp.com1.z0.glb.clouddn.com/pic_png/zhuce.png"><img src="http://7xjuxp.com1.z0.glb.clouddn.com/pic_png/zhuce.png" alt=""></a>
						</li>
						<li id="denglu">
							<h3>2.登录</h3>
							<p>用户名，密码这二项为必填项。</p>
							<li>用户名4位以上，可以中文；</li>
							<li>密码注意大小写拼写正确。</li><p class="label label-warning">一切填写妥当，要选择下面的“阅读并接受用户协议”才能继续，否则将退回首页-_-#</p>
							<a href="http://7xjuxp.com1.z0.glb.clouddn.com/pic_png/denglu.png"><img src="http://7xjuxp.com1.z0.glb.clouddn.com/pic_png/denglu.png" alt=""></a>
						</li>
						<li id="ruzhu">
							<h3>3.入驻</h3>
							<p>为了便于我们统一配送，标注为<span class="label label-success">小区直配</span>的商品需入驻社区后才能正式开始购物(其他功能暂未限制)，目前开放的社区列表详见<a href="/#!/ccenters"><strong class="gl_f40">可入驻社区一览</strong></a>。</p>
							<li>手机号码须完成认证；</li>
							<li>房间号须如实填写；</li>
							<li>其他未尽项请留意相关页面通知。</li>
							<p class="label label-success">申请入驻并经系统审核通过后，方可尽情购物。</p>
							<a href="http://7xjuxp.com1.z0.glb.clouddn.com/pic_png/yanzheng.png"><img src="http://7xjuxp.com1.z0.glb.clouddn.com/pic_png/yanzheng.png" alt=""></a>
						</li>
					</ul>
				</div>
				<div id="shop">
					<h1>二、商城系统</h1>
					<ul>
						<li id="category">
							<h3>1.分类</h3>
							<p>常用商品共按属性大致分为七类，分别是蔬菜、水果、水产肉禽蛋、粮油调味品、食品饮料、干货特产和日用百货。</p>
							<li>每个分类下又有子分类，如蔬菜下有叶菜类、根茎类、瓜果类、调味类、菇类等；</li>
							<li>可单独浏览商品分类，也可按子分类进行筛选浏览；</li>
							<a href="http://7xjuxp.com1.z0.glb.clouddn.com/pic_png/shangcheng.png"><img src="http://7xjuxp.com1.z0.glb.clouddn.com/pic_png/shangcheng.png" alt=""></a>
						</li>
						<li id="goods">
							<h3>2.商品</h3>
							<p>商品全部通过自产、自采、供应商供货等方式自营，没有商铺入驻。</p>
							<li>全部商品均可无条件退货；</li>
							<li>部分生鲜商品可无货退货退款；</li>
							<li>如无特殊注明，所有商品（标注为<span class="label label-success">小区直配</span>）均可免费配送至已进驻的社区<a href="/#!/ccenters">可入驻社区一览</a>；</li>
							<li>收货时，请对照收货单/订单验收货物，缺货漏货数量规格发现有问题可随时向我们提出；</li>
							<li>赠品，指免费赠予用户的商品，须提交订单，赠品不接受退换货；</li>
							<li>试用品，指用户可申请免费试用的商品，须提交订单并经核准，如未核准将不通知，试用品不接受退换货；</li>
							<a href="http://7xjuxp.com1.z0.glb.clouddn.com/pic_png/shangpin.png"><img src="http://7xjuxp.com1.z0.glb.clouddn.com/pic_png/shangpin.png" alt=""></a>
						</li>
						<li id="cart">
							<h3>3.购物篮</h3>
							<p>心仪商品可逐一加入购物篮后统一进行结算，并可在购物篮界面进行修改某个商品数量、删除指定商品等操作。</p>
							<li>购物篮功能须登录后才能操作，可在<a href="/#!/settings/profile">个人中心</a>中找到；</li>
							<li>点击添加至购物篮按钮后，将跳转至购物篮详情界面，可变更商品数量或删除，在购物篮列表界面可对某个未提交至订单的购物篮进行整体删除；</li>
							<a href="http://7xjuxp.com1.z0.glb.clouddn.com/pic_png/cart.png"><img src="http://7xjuxp.com1.z0.glb.clouddn.com/pic_png/cart.png" alt=""></a>
							<li>购物篮以一个自然天为单位；</li>
							<li>已提交形成订单的购物篮将不可进行修改或删除操作。</li>
							<a href="http://7xjuxp.com1.z0.glb.clouddn.com/pic_png/cartlist.png"><img src="http://7xjuxp.com1.z0.glb.clouddn.com/pic_png/cartlist.png" alt=""></a>
						</li>
						<li id="order">
							<h3>4.订单</h3>
							<p>商品列表或详情页上直接购买，即形成一份订单。</p>
							<li>未支付订单可修改或删除商品，也可直接删除订单；</li>
							<li>如通过支付宝在线完成支付的订单，状态会自动变更为已支付；</li>
							<li>如通过现场pos机刷卡支付、现金支付等方式进行支付，会在24小时内由后台管理人员实现状态变更；</li>
							<li><span class="label label-danger">收货时，请对照收货单/订单验收货物，如现场pos/现金支付完成，即请送货人员签字确认。</span></li>
							<a href="http://7xjuxp.com1.z0.glb.clouddn.com/pic_png/order.png"><img src="http://7xjuxp.com1.z0.glb.clouddn.com/pic_png/order.png" alt=""></a>
						</li>
						<li id="porder">
							<h3>5.私人订制</h3>
							<p>如有未录入商品或特殊化需要求，可直接提交私人订制订单，我们会根据能否达成该订单与您进行沟通，确认没问题后，可在线支付，我们会在约定时间将您所订制商品送达。</p>
							<li>商品名称、规格、数量请尽可能描述清楚；</li>
							<li>联系方式请确认无误；</li>
							<li><span class="label label-warning">私人订制订单一经确认须提前付款，除质量问题、货不对板等情况外，概不退换货，敬请谅解；</span></li>
							<li>其他未尽事项会在收到私人订制订单后与您沟通确认。</li>
							<a href="http://7xjuxp.com1.z0.glb.clouddn.com/pic_png/porder.png"><img src="http://7xjuxp.com1.z0.glb.clouddn.com/pic_png/porder.png" alt=""></a>
							<a href="http://7xjuxp.com1.z0.glb.clouddn.com/pic_png/porder2.png"><img src="http://7xjuxp.com1.z0.glb.clouddn.com/pic_png/porder2.png" alt=""></a>
						</li>
						<li id="pay">
							<h3>6.支付</h3>
							<p>目前开通支付方式有：在线支付宝支付、现场POS刷卡支付(支持储蓄卡和信用卡)、现金支付三种方式。</p>
							<li>支付宝支付（推荐），订单提交即可跳转至支付宝付款界面，可用手机支付宝扫码支付或登录后在线支付；</li>
							<li>现场POS刷卡支付，无手续费，支持所有银联储蓄卡和信用卡，有正规小票，信用卡可增加积分；</li>
							<li>现金支付，请尽量自备零钞；</li>
							<li>如需开具发票，请提前备注申明；</li>
							<li>其他未尽项请留意相关通知。</li>
							<a href="http://7xjuxp.com1.z0.glb.clouddn.com/pic_png/pay.png"><img src="http://7xjuxp.com1.z0.glb.clouddn.com/pic_png/pay.png" alt=""></a>
						</li>
					</ul>
				</div>
				<div id="forum">
					<h1>三、业主论坛</h1>
					<ul>
						<li id="bankuai">
							<h3>1.版块</h3>
							<p>论坛版块主要有公开版块和业主认证论坛版块两大部分。</p>
							<li>公开版块，所有人均可自由浏览，注册本站会员后即可发贴；</li>
							<li>业主认证论坛，针对特定社区，仅通过认证的已入驻该社区的业主用户可以浏览。</li>
						</li>
						<li id="subject">
							<h3>2.主题</h3>
							<p>所有主题均不能含有违反法律法规及涉及国家机密、宗教、种族、民族、地域歧视的相关内容，不得恶意攻击中伤他人，不得有违社会伦理道德，如含有以上任何内容，均会在不通知的情况下直接删除，严重者将封闭账号并报请相关机关进行处理。</p>
						</li>
					</ul>
				</div>
				<div id="article">
					<h1>四、博客系统</h1>
					<ul>
						<li id="create">
							<h3>1.发表</h3>
							<p>通过本站通行证可拥有一套个人的博客系统。</p>
						</li>
						<li id="view">
							<h3>2.浏览</h3>
							<p>更多功能尚在进一步完善中，目前可以正常浏览。</p>
						</li>
					</ul>
				</div>
				<!--  -->
				<div ng-controller="ModalDemoCtrl">  
				    <script type="text/ng-template" id="myModalContent.html">  
				        <div class="modal-header">  
				            <h3>I‘m a modal!</h3>  
				        </div>  
				        <div class="modal-body">  
				            <ul>  
				                <li ng-repeat="item in items">  
				                    <a ng-click="selected.item = item">{{ item }}</a>  
				                </li>  
				            </ul>  
				            Selected: <b>{{ selected.item }}</b>  
				        </div>  
				        <div class="modal-footer">  
				            <button class="btn btn-primary" ng-click="ok()">OK</button>  
				            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>  
				        </div>  
				    </script>  
				    <!-- <button class="btn" ng-click="open()">Open me!</button>   -->
				</div>  
				<script>  
				    var ModalDemo = angular.module('ModalDemo', ['ui.bootstrap']);  
				    var ModalDemoCtrl = function ($scope, $modal, $log) {  
				        $scope.items = ['item1', 'item2', 'item3'];  
				        $scope.open = function () {  
				            var modalInstance = $modal.open({  
				                templateUrl: 'myModalContent.html',  
				                controller: ModalInstanceCtrl,  
				                resolve: {  
				                    items: function () {  
				                        return $scope.items;  
				                    }  
				                }  
				            });  
				            modalInstance.opened.then(function(){//模态窗口打开之后执行的函数  
				                console.log('modal is opened');  
				            });  
				            modalInstance.result.then(function (result) {  
				                 console.log(result);  
				            }, function (reason) {  
				                console.log(reason);//点击空白区域，总会输出backdrop click，点击取消，则会暑促cancel  
				                $log.info('Modal dismissed at: ' + new Date());  
				            });  
				        };  
				    };  
				    var ModalInstanceCtrl = function ($scope, $modalInstance, items) {  
				        $scope.items = items;  
				        $scope.selected = {  
				            item: $scope.items[0]  
				        };  
				        $scope.ok = function () {  
				            $modalInstance.close($scope.selected);  
				        };  
				        $scope.cancel = function () {  
				            $modalInstance.dismiss('cancel');  
				        };  
				    };  
				</script>
			</div>
		</div>
	</div>
</section>
