<div class="mt20"></div>
<div class="good_detail_top_nav">
	<ul class="breadcrumb">
		<li><a href="/#!">首页</a></li>
		<li><a href="/#!/categories">分类</a></li>
		<li><a href="/#!/porders/create"><span class="gl_f40">私人订制</span></a></li>
		<li><a href="/#!/goods/free"><span class="gl_f40">活动专区</span></a></li>
		<!-- <div class="sortbar pull-right" data-ng-controller="GoodsController">
			<div class="main-sortbar">
				<div class="sort-row">
					<div class="sort-inner">
						<ul class="sorts">
							<li class="sort active"><a href="/#!/" data-ng-model="sort" value="default" ng-click="sortAll()" title="综合排序">综合排序</a></li>
							<li class="sort"><a href="/#!/goods?tab=hot" data-ng-model="sort" value="hot" title="人气">人气</a></li>
							<li class="sort"><a href="/#!/" data-ng-model="sort" value="sales" ng-click="sortAll()" title="销量">销量</a></li>
							<li class="sort"><a href="/#!/" data-ng-model="sort" value="price" ng-click="sortAll()" title="价格">价格</a></li>
						</ul>
					</div>
				</div>
				<div class="filter-row"></div>
			</div>
		</div> -->
	</ul>
	<!-- <div class="sortbar pull-right" data-ng-controller="GoodsController">
		<div class="main-sortbar">
			<div class="sort-row">
				<div class="sort-inner">
					<ul class="sorts">
						<li class="sort active"><a href="/#!/" data-ng-model="default" title="综合排序">综合排序</a></li>
						<li class="sort"><a href="/#!/" data-ng-model="person" title="人气">人气</a></li>
						<li class="sort"><a href="/#!/" data-ng-model="sales" title="销量">销量</a></li>
						<li class="sort"><a href="/#!/" data-ng-model="price" title="价格">价格</a></li>
					</ul>
				</div>
			</div>
			<div class="filter-row"></div>
		</div>
	</div> -->
	<!-- <div ng-hide="false"><div class="col-md-12 col-xs-12 text-center test_warning"><label for=""><i class="fa fa-warning"></i>&nbsp;内测期间，支付宝付款成功后才能安排发货（默认周末统一安装），敬请谅解。<a href="" class="pull-right" ng-click="ng-hide="true""><i class="fa fa-close"></i></a></label></div></div> -->
</div>
