<div data-ng-controller="HeaderController" ng-init="Summary()">
<!-- 	<div class="panel panel-info" ng-init="TodayWeather()">
		<div class="panel-heading">
			Tips
		</div>
	 	<div class="panel-body">
			<div class="weather">
				{{weather}}
			</div>
		</div> 
	</div> -->
	<div class="panel panel-default">
		<div class="panel-heading">
			全站统计
		</div>
		<div class="panel-body">
			<div>
				<div>商品总数：<span data-ng-bind="data.goodsCount"></span></div>
				<div>购物篮数：<span data-ng-bind="data.cartsCount"></span></div>
				<div>订单总数：<span data-ng-bind="data.ordersCount"></span></div>
				<div>私人定制：<span data-ng-bind="data.pordersCount"></span></div>
				<div>签约社区：<span data-ng-bind="data.ccentersCount"></span></div>
				<div>
					<div>注册用户：<span data-ng-bind="data.usersCount"></span></div>
					<div>认证用户：<span data-ng-bind="data.fusersCount"></span></div>
				</div>
				<div>论坛贴子：<span data-ng-bind="data.subjectsCount"></span></div>
				<div>回复总数：<span data-ng-bind="data.commentsCount"></span></div>
				<div>博客文章：<span data-ng-bind="data.articlesCount"></span></div>
				<div>访问PV：<span class="label label-default" data-ng-bind="data.visithistorysCount"></span><span data-ng-bind="ccentersCount"></span></div>
			</div>
		</div>
	</div>
</div>

