<section class="row" data-ng-controller="AuthenticationController">
	<div class="user_signin col-md-12">
		<div class="col-md-6 col-xs-12 user_signin_profile">
			<h2 class="col-md-12 text-center">会员权益</h2>
				<div class="col-md-12 mt20">
					<p>
						<ol>
							<li>1. 享受<strong>小区直配(免费)</strong>服务</li>
							<li>2. 一定额度内<strong>先购买享用后付费</strong></li>
							<li>3. 食安居会员专享“菜篮子”</li>
							<li>4. 私人订制服务，<strong>指定商品规格指定价格</strong>，我们跑腿送上门</li>
							<li>5. 食安居日常精选 <strong>赠品/试用品</strong> 服务</li>
							<li>6. <strong>无货退款/无条件退款</strong></li>
						</ol>
					</p>
					<div class="">
						<p class="text-right">
							<a href="/#!/member-rights">点我了解更多</a>
						</p>
					</div>
				</div>
			</div>
		<div class="col-md-6 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title text-right">
						食安居--茗语e家会员登录
					</div>
				</div>
				<div class="panel-body">
					<div class="col-md-12 col-xs-12">
						<form class="signin form-horizontal" autocomplete="off">
							<fieldset class="">
								<div class="form-group">
									<label for="username" class="col-md-3 col-xs-3 control-label">用户名:</label>
									<div class="col-md-9 col-xs-9">
										<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="用户名">
									</div>
								</div>
								<div class="form-group">
									<label for="password" class="col-md-3 col-xs-3 control-label">密码:</label>
									<div class="col-md-9 col-xs-9">
										<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="密码，注意区分大小写">
									</div>
								</div>
								<div class="form-group">
									<label for="authimg" class="col-md-3 col-xs-3 control-label">验证码:</label>
									<div class="col-md-5 col-xs-5">
										<input type="authimg" id="authimg" name="authimg" class="form-control" data-ng-model="credentials.authimg" placeholder="验证码，不区分大小写">
									</div>
									<div class="col-md-4 col-xs-4 authimg" id="authimg">
										<img alt="看不清,请点击我！" id="imageValidateCode" src="/auth/img" title="看不清,请点击我！"  onclick="this.src=this.src+'?'" /> 
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-offset-3 col-xs-offset-3 col-md-9 col-xs-9">
										<div>
											<label>
												<input type="checkbox" id="agreement" name="agreement" data-ng-model="credentials.agreement" ng-change="true">我已阅读并接受<a href="/#!/protocal">《食安居用户服务协议》</a>
											</label>
										</div>
									</div>
								</div>
								<div class="text-center form-group">
									<span ng-if="credentials.agreement!=true"><span class="glyphicon glyphicon-exclamation-sign"></span>勾选同意才能继续</span>
									<button type="submit" class="btn btn-success" ng-show="credentials.agreement==true" ng-click="signin()">登录</button>&nbsp; or&nbsp;
									<a href="/#!/signup">没有账户，立即注册!</a>
								</div>
								<div data-ng-show="error" class="text-center text-danger">
									<strong data-ng-bind="error"></strong>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-offset-8 col-md-4">
				<div class="forgot-password">
					<a href="/#!/password/forgot">忘记密码?</a>
				</div>
			</div>
		</div>
	</div>
</section>
