<section data-ng-controller="SubjectsController" data-ng-init="list()">
	<div class="mt20">
		<div ng-if="error" class="errorMessage"><span class="glyphicon glyphicon-error"></span><span class="label label-danger" data-ng-bind="error"></span></div>
		<div ng-if="subjects">
			<div>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th>分类</th>
							<th>细类</th>
							<th>商品图片</th>
							<th>商品名称</th>
							<th>商品标题</th>
							<th>商品价格</th>
							<th>销量</th>
							<th>浏览量</th>
							<th>编辑</th>
							<th>删除</th>
						</tr>
					</thead>
					<tbody data-ng-repeat="subject in subjects" >
						<tr><div class="text-success" ng-if="success"><span class="label label-success" >修改成功！</span></div>
							<td><a href="/#!/categories/{{subject.category._id}}"><span data-ng-bind="subject.category.name"></span></a></td>
							<td><input type="text" data-ng-model="subject.subcat" id="subcat" class="form-control" placeholder="商品细类，如叶菜类、根茎类" required></td>
							<td><a href="/#!/subjects/{{subject._id}}"><img src="{{subject.main_img}}" style="max-width:80px;"></a></td>
							<td><input type="text" data-ng-model="subject.name" id="name" class="form-control" placeholder="商品名称，例：手机" required></td>
							<td><input type="text" data-ng-model="subject.title" id="title" class="form-control" placeholder="商品标题，字数不限，建议30字，超出部分不显示" required></td>
							<td><input type="text" data-ng-model="subject.price" id="price" class="form-control" placeholder="价格，精确到小数点后2位" required></td>
							<td data-ng-bind="subject.sold"></td>
							<td data-ng-bind="subject.pv"></td>
							<td><a class="btn btn-primary" ng-click="modify()"><i class="glyphicon glyphicon-edit"></i></a>
							</td>
							<td><button class="btn btn-danger del" type="button" data-ng-click="del();" name="subject" id="{{subject._id}}">删除</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
