<style type="text/css" scoped="scoped">
    @import "dist/stylesheets/thinker-md.user.css";
    @import "dist/stylesheets/thinker-md.vendor.css";
    @import "dist/emoji/nature.css";
    @import "dist/emoji/object.css";
    @import "dist/emoji/people.css";
    @import "dist/emoji/place.css";
    @import "dist/emoji/Sysmbols.css";
    @import "dist/emoji/twemoji.css";
</style>
<script src="dist/javascripts/thinker-md.vendor.min.js"></script>
<script>
    $("textarea[data-provide='markdown']").markdown({
        language: 'zh',
        fullscreen: {
            enable: true
        },
        resize: 'vertical',
        localStorage: '10anju_md',
        imgurl: '/cors/upload/ajaxUpload',
        base64url: '/cors/upload/base64Upload'
    });
</script>

<section data-ng-controller="SubjectsController">
    <div class="col-md-8 col-xs-12">
        <div class="page-header">
            <h1>新的话题</h1>
        </div>
        <div class="col-md-12">
            <form name="subjectForm" class="form-horizontal" data-ng-submit="create()" novalidate>
                <fieldset>
                    <div class="form-group" data-ng-controller="ForumsController" data-ng-init="find()">
                        <label for="category" class="control-label col-xs-2 col-md-2">选择分类:</label>
                        <select ng-model="forum" ng-options="forum._id as forum.name for forum in forums">
                            <option value="">请选择分类:</option>
                        </select>
                        <h7 class="text-muted">可直接填分类的ID:</h7>
                        <h7>{{forum}}</h7>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label col-xs-4 col-md-4" data-ng-controller="ForumsController" data-ng-init="find()">论坛版块:</label>
                        <div class="controls col-xs-8 col-md-8">
                            <input type="text" data-ng-model="forum" id="forum" class="form-control" placeholder="可填论坛名称，也可填上面查询到的ID" required>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="subcat" class="control-label col-xs-4 col-md-4">分类:</label>
                        <div class="controls col-xs-8 col-md-8">
                            <input type="text" name="subcat" data-ng-model="subcat" id="subcat" placeholder="分类" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group col-md-12" ng-class="{ 'has-error': subjectForm.title.$dirty && subjectForm.title.$invalid }">
                        <div class="col-md-2 col-xs-2"><label class="control-label" for="title">标题:</label></div>
                        <div class="controls col-xs-9 col-md-9">
                            <input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="标题" required>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="controls">
                            <textarea name="content" data-ng-model="content" class="form-control" data-provide="markdown" rows="10" placeholder="这里输入内容,支持Markdown语法." ></textarea>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-default">确认提交</button>
                    </div>
                    <div data-ng-show="error" class="text-danger col-md-12">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>
