<div class="panel panel-info" data-ng-controller="SettingsController" ng-init="myCount()">
	<div class="panel-heading text-right">
		<span class="glyphicon glyphicon-user"></span>&nbsp;用户中心
	</div>
	<div class="panel-body">
		<div style="margin-left:20px;">
			<a class="my_count_num" href="/#!/usercenter" data-ng-controller="SubjectsController" ng-init="userCount()"><h4 data-ng-bind="userSubjectsCount"></h4><span class="text-muted">主题</span></a>
			<a class="my_count_num" href="/#!/usercenter" data-ng-controller="CommentsController" ng-init="userCount()"><h4 data-ng-bind="userCommentsCount"></h4><span class="text-muted">回复</span></a>
			<a class="my_count_num" href="/#!/usercenter" data-ng-controller="CollectsController" ng-init="myCollect()"><h4 data-ng-bind="collect.subjects.length"></h4><span class="text-muted">关注</span></a>
		</div>
	</div>
	<div class="panel-footer text-center">
		<a href="/#!/subjects/create"><span class="glyphicon glyphicon-edit"></span>&nbsp;发表新的主题</a>
	</div>
</div>
