<style type="text/css" scoped="scoped">
    @import "dist/stylesheets/thinker-md.user.css";
    @import "dist/stylesheets/thinker-md.vendor.css";
    @import "dist/emoji/nature.css";
    @import "dist/emoji/object.css";
    @import "dist/emoji/people.css";
    @import "dist/emoji/place.css";
    @import "dist/emoji/Sysmbols.css";
    @import "dist/emoji/twemoji.css";
</style>
<script src="dist/javascripts/thinker-md.vendor.min.js"></script>
<script>
    $("textarea[data-provide='markdown']").markdown({
        language: 'zh',
        fullscreen: {
            enable: true
        },
        resize: 'vertical',
        localStorage: '10anju_md',
        imgurl: '/lib/upload/usr',
        base64url: '/cors/upload/base64Upload'
    });
</script>

<section data-ng-controller="GoodsController">
    <div class="page-header">
        <h1>新建商品，标记为*的为必填项</h1>
    </div>
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <form class="" novalidate>
                <fieldset>
                    <div class="form-group col-md-4" data-ng-controller="CategoriesController" data-ng-init="find()">
                        <div class="controls">
                            <select ng-model="cat" ng-options="cat._id as cat.name for cat in categories">
                                <option value="">请选择分类:</option>
                            </select>
                        </div>
                        <span class="cat" style="display:none">{{cat}}</span>
                        <div class="controls">
                            <input type="text" data-ng-model="tiaoma" id="tiaoma" class="form-control" placeholder="商品条码，如6937110330410" required>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" for="subcat">商品细类*</label>
                        <div class="controls">
                            <input type="text" data-ng-model="subcat" id="subcat" class="form-control" placeholder="商品细类，如叶菜类、根茎类" required>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" for="name">商品名称*</label>
                        <div class="controls">
                            <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="商品名称，例：手机" required>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label" for="title">商品标题*</label>
                        <div class="controls">
                            <input type="text" data-ng-model="title" id="title" class="form-control" placeholder="商品标题，字数不限，建议30字，超出部分不显示" required>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label" for="summary">商品简介*</label>
                        <div class="controls">
                            <textarea type="text" data-ng-model="summary" id="summary" class="form-control" placeholder="商品简介" required></textarea>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" for="weight">净重*</label>
                        <div class="controls">
                            <input type="text" data-ng-model="weight" id="weight" class="form-control" placeholder="净重" required>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" for="spec">商品规格*</label>
                        <div class="controls">
                            <input type="text" data-ng-model="spec" id="spec" class="form-control" placeholder="商品规格，例g，个，包等" required>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" for="price">价格*</label>
                        <div class="controls">
                            <input type="text" data-ng-model="price" id="price" class="form-control" placeholder="价格，精确到小数点后2位" required>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" for="origin">产地</label>
                        <div class="controls">
                            <input type="text" data-ng-model="origin" id="origin" class="form-control" placeholder="产地" required>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" for="delivery">配送方式</label>
                        <div class="controls">
                            <input type="text" data-ng-model="delivery" id="delivery" class="form-control" placeholder="配送方式，默认为小区直配" required>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" for="main_img">主图*</label>
                        <div class="controls">
                            <input type="text" data-ng-model="main_img" id="main_img" class="form-control" placeholder="主图,可直接用(图片名.jpg,前提是已上传至七牛图床)" required>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" for="img">配图</label>
                        <div class="controls">
                            <input type="text" data-ng-model="img" id="img" class="form-control" placeholder="配图，多个配图请以英文半角状态的','进行分隔" required>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" for="stock">库存</label>
                        <div class="controls">
                            <input type="text" data-ng-model="stock" id="stock" class="form-control" placeholder="库存" required>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" for="storage_method">存储方法</label>
                        <div class="controls">
                            <input type="text" data-ng-model="storage_method" id="storage_method" class="form-control" placeholder="存储方法" required>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label" for="detail">详细描述</label>
                        <div class="controls">
                            <textarea type="text" data-ng-model="detail" id="detail" class="form-control" data-provide="markdown" rows="10" placeholder="这里输入内容,支持Markdown语法." required></textarea>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label" for="nutrition">营养价值</label>
                        <div class="controls">
                            <input type="text" data-ng-model="nutrition" id="nutrition" class="form-control" placeholder="营养价值" required>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label" for="recipes">食用方法</label>
                        <div class="controls">
                            <input type="text" data-ng-model="recipes" id="recipes" class="form-control" placeholder="食用方法" required>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label" for="wiki">百科</label>
                        <div class="controls">
                            <input type="text" data-ng-model="wiki" id="wiki" class="form-control" placeholder="百科" required>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" for="suitable">适宜人群</label>
                        <div class="controls">
                            <input type="text" data-ng-model="suitable" id="suitable" class="form-control" placeholder="适宜人群，请以英文半角状态的','进行分隔" required>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" for="feature">功效</label>
                        <div class="controls">
                            <input type="text" data-ng-model="feature" id="feature" class="form-control" placeholder="功效，请以英文半角状态的','进行分隔" required>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" for="therapy">适宜疾病</label>
                        <div class="controls">
                            <input type="text" data-ng-model="therapy" id="therapy" class="form-control" placeholder="适宜疾病，请以英文半角状态的','进行分隔" required>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" for="avoid">食用禁忌</label>
                        <div class="controls">
                            <input type="text" data-ng-model="avoid" id="avoid" class="form-control" placeholder="食用禁忌" required>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" for="collocation">健康搭配</label>
                        <div class="controls">
                            <input type="text" data-ng-model="collocation" id="collocation" class="form-control" placeholder="健康搭配" required>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label" for="price">赠品</label>
                        <div class="controls">
                            <input type="checkbox" data-ng-model="for_free" id="for_free" class="form-control" ng-change="true" required>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label" for="price">免费试用</label>
                        <div class="controls">
                            <input type="checkbox" data-ng-model="free_try" id="free_try" class="form-control" ng-change="true" required>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                    <button class="btn btn-primary btn-block" ng-click="create()" >新建商品</button>
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-md-4 col-xs-12 realtime_show">
            <div><p ng-bind-html="category"></p></div>
            <div><p data-ng-bind="catId"></p></div>
            <div><p ng-bind-html="subcat"></p></div>
            <div><p ng-bind-html="name"></p></div>
            <div><p ng-bind-html="title"></p></div>
            <div><p ng-bind-html="summary"></p></div>
            <div><p ng-bind-html="spec"></p></div>
            <div><p ng-bind-html="price"></p></div>
            <div><p ng-bind-html="weight"></p></div>
            <div><p ng-bind-html="origin"></p></div>
            <div><p ng-bind-html="delivery"></p></div>
            <div><img ng-src="{{main_img}}" alt="" class="thumbnail"></div>
            <div><p ng-bind-html="detail"></p></div>
            <div><p ng-bind-html="stock"></p></div>
            <div><p ng-bind-html="wiki"></p></div>
            <div><p ng-bind-html="img"></p></div>
            <div><p ng-bind-html="suitable"></p></div>
            <div><p ng-bind-html="nutrition"></p></div>
            <div><p ng-bind-html="feature"></p></div>
            <div><p ng-bind-html="therapy"></p></div>
            <div><p ng-bind-html="avoid"></p></div>
            <div><p ng-bind-html="recipes"></p></div>
            <div><p ng-bind-html="storage_method"></p></div>
        </div>
    </div>
</section>
