<section data-ng-controller="GoodsController" data-ng-init="edit()">
    <div class="row">
        <div class="col-md-8 pull-left">
            <div class="page-header">
                <p>
                    <span class="h3" data-ng-bind="good.title"></span>
                    <span class="label label-danger pull-right h5">商品编辑页</span>
                </p>
            </div>
            <div class="col-md-12">
                <form class="" novalidate>
                    <fieldset>
                        <div class="form-group col-md-12" data-ng-controller="CategoriesController" data-ng-init="find()">
                            <div>
                                <label for="category" class="control-label">选择分类:</label>
                                <select ng-model="cat" ng-options="cat._id as cat.name for cat in categories">
                                    <option value="">请选择分类:</option>
                                </select>
                            </div>
                            <h7 class="text-muted">可直接填分类的ID:</h7>
                            <h7>{{cat}}</h7>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" for="cate">商品分类*</label>
                            <div class="controls">
                                <input type="text" data-ng-model="good.category.name" id="category" class="form-control" placeholder="商品分类，可直接输入汉字，如分类不存在则新建" required>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" for="subcat">商品细类*</label>
                            <div class="controls">
                                <input type="text" data-ng-model="good.subcat" id="subcat" class="form-control" placeholder="商品细类，如叶菜类、根茎类" required>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" for="name">商品名称*</label>
                            <div class="controls">
                                <input type="text" data-ng-model="good.name" id="name" class="form-control" placeholder="商品名称，例：手机" required>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="title">商品标题*</label>
                            <div class="controls">
                                <input type="text" data-ng-model="good.title" id="title" class="form-control" placeholder="商品标题，字数不限，建议30字，超出部分不显示" required>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="summary">商品简介*</label>
                            <div class="controls">
                                <textarea type="text" data-ng-model="good.summary" id="summary" class="form-control" placeholder="商品简介" required></textarea>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" for="weight">净重</label>
                            <div class="controls">
                                <input type="text" data-ng-model="good.weight" id="weight" class="form-control" placeholder="净重" required>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" for="spec">商品规格*</label>
                            <div class="controls">
                                <input type="text" data-ng-model="good.spec" id="spec" class="form-control" placeholder="商品规格，例g，个，包等" required>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" for="price">价格*</label>
                            <div class="controls">
                                <input type="text" data-ng-model="good.price" id="price" class="form-control" placeholder="价格，精确到小数点后2位" required>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" for="origin">产地*</label>
                            <div class="controls">
                                <input type="text" data-ng-model="good.origin" id="origin" class="form-control" placeholder="产地" required>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" for="delivery">配送方式*</label>
                            <div class="controls">
                                <input type="text" data-ng-model="good.delivery" id="delivery" class="form-control" placeholder="配送方式" required>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" for="main_img">主图*</label>
                            <div class="controls">
                                <input type="text" data-ng-model="good.main_img" id="main_img" class="form-control" placeholder="主图" required>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" for="img">配图</label>
                            <div class="controls">
                                <input type="text" data-ng-model="good.img" id="img" class="form-control" placeholder="配图，多个配图请以英文半角状态的','进行分隔" required>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" for="stock">库存*</label>
                            <div class="controls">
                                <input type="text" data-ng-model="good.stock" id="stock" class="form-control" placeholder="库存" required>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" for="storage_method">存储方法</label>
                            <div class="controls">
                                <input type="text" data-ng-model="good.storage_method" id="storage_method" class="form-control" placeholder="存储方法" required>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="detail">详细描述*</label>
                            <div class="controls">
                                <textarea type="text" data-ng-model="good.detail" id="detail" class="form-control" placeholder="详细描述" required></textarea>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="nutrition">营养价值</label>
                            <div class="controls">
                                <input type="text" data-ng-model="good.nutrition" id="nutrition" class="form-control" placeholder="营养价值" required>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="recipes">食用方法</label>
                            <div class="controls">
                                <input type="text" data-ng-model="good.recipes" id="recipes" class="form-control" placeholder="食用方法" required>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" for="wiki">百科</label>
                            <div class="controls">
                                <input type="text" data-ng-model="good.wiki" id="wiki" class="form-control" placeholder="百科" required>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" for="suitable">适宜人群</label>
                            <div class="controls">
                                <input type="text" data-ng-model="good.suitable" id="suitable" class="form-control" placeholder="适宜人群，请以英文半角状态的','进行分隔" required>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" for="feature">功效</label>
                            <div class="controls">
                                <input type="text" data-ng-model="good.feature" id="feature" class="form-control" placeholder="功效，请以英文半角状态的','进行分隔" required>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" for="therapy">适宜疾病</label>
                            <div class="controls">
                                <input type="text" data-ng-model="good.therapy" id="therapy" class="form-control" placeholder="适宜疾病，请以英文半角状态的','进行分隔" required>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" for="avoid">食用禁忌</label>
                            <div class="controls">
                                <input type="text" data-ng-model="good.avoid" id="avoid" class="form-control" placeholder="食用禁忌" required>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" for="collocation">健康搭配</label>
                            <div class="controls">
                                <input type="text" data-ng-model="good.collocation" id="collocation" class="form-control" placeholder="健康搭配" required>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label class="control-label" for="price">赠品</label>
                            <div class="controls">
                                <input type="checkbox" data-ng-model="good.for_free" id="for_free" class="form-control" ng-change="true" required>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label class="control-label" for="price">免费试用</label>
                            <div class="controls">
                                <input type="checkbox" data-ng-model="good.free_try" id="free_try" class="form-control" ng-change="true" required>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                        <button class="btn btn-primary btn-block" ng-click="update()" >更新商品</button>
                        </div>
                        <div data-ng-show="error" class="text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-md-4 realtime_show">
            <div class="page-header">
                <p>
                    <span class="h3" data-ng-bind="good.title"></span>
                    <span class="label label-danger pull-right h5">商品预览</span>
                </p>
            </div>
            <div>
                <p ng-bind-html="good.name"></p>
            </div>
            <div>
                <p ng-bind-html="good.title"></p>
            </div>
            <div><p ng-bind-html="good.summary"></p></div>
            <div><p ng-bind-html="good.spec"></p></div>
            <div><p ng-bind-html="good.price"></p></div>
            <div><p ng-bind-html="good.weight"></p></div>
            <div><p ng-bind-html="good.origin"></p></div>
            <div><p ng-bind-html="good.delivery"></p></div>
            <div><img src="{{good.main_img}}" alt="" class="thumbnail"></div>
            <div><p ng-bind-html="good.stock"></p></div>
            <div><p ng-bind-html="good.wiki"></p></div>
            <div><p ng-bind-html="good.detail"></p></div>
            <div><p ng-bind-html="good.img"></div>
            <div><p ng-bind-html="good.nutrition"></p></div>
            <div><p ng-bind-html="good.suitable"></p></div>
            <div><p ng-bind-html="good.feature"></p></div>
            <div><p ng-bind-html="good.therapy"></p></div>
            <div><p ng-bind-html="good.avoid"></p></div>
            <div><p ng-bind-html="good.recipes"></p></div>
            <div></div>
        </div>
    </div>    
</section>
