<section data-ng-controller="GoodsController" data-ng-init="listSubcat()">
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <div ng-include="'modules/core/views/navbar.client.view.html'"></div>
            <div class="mt20" data-ng-controller="CategoriesController" data-ng-init="find()">
                <tabset data-ng-repeat="cat in categories | filter:subcat">
                    <tab active="subcat" ng-click="listSubcat()" data-ng-repeat="item in cat.subcat">
                        <tab-heading><span data-ng-bind="item"></span>
                        </tab-heading>
<!--                         <ul class="nav nav-pills">
                           <li data-ng-repeat="item in cat.subcat"><a href="/#!/goods/subcat/{{item}}" data-ng-bind="item"></a></li>
                        </ul> -->
                        <div class="row good_list_all">
                            <div data-ng-repeat="good in goods | filter:item" class="col-md-3 fl col-xs-6">
                                <div ng-include="'modules/goods/views/list-goods-item.client.view.html'"></div>
                            </div>            
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
        <div class="col-md-3 col-xs-12">
            <div class="mt20" ng-include="'modules/goods/views/search-goods.client.view.html'"></div>
                <div class="mt20">
                  <div class="panel panel-info">
                    <div class="panel-heading">
                      <div class="panel-title"><span class="glyphicon glyphicon-bullhorn"></span>&nbsp;公告</div>
                    </div>
                    <div class="panel-body">
                      <div data-ng-controller="ArticlesController" data-ng-init="find()">
                        <a href="/#!/articles/{{notice._id}}" data-ng-repeat="notice in articles | filter:'公告'"><p class="h5" data-ng-bind="notice.title"></p></a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="mt20" ng-include="'modules/core/views/today-todos.client.view.html'"></div> -->
                <div ng-include="'modules/goods/views/right-cart.client.view.html'"></div>
        </div>
    </div>
</section>
