<section data-ng-controller="GoodsController" data-ng-init="listSubcat()">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <div class="good_detail_top_nav">
          <ol class="breadcrumb">
            <li><a href="/#!/goods">首页</a></li>
            <li><a href="/#!/categories">分类</a></li>
            <li><a href="/#!/goods/subcat/{{subcat}}"><span data-ng-bind="subcat"></span></a></li>
          </ol>
        </div>
      </div>
      <div class="row category_list">
        <div class="good_list_all" >
          <li class="" role="listitem">
            <div data-ng-repeat="good in goods" class="grid-4 fl col-xs-6">
              <div class="">
                <div class="good_list_listitem">
                  <label>
                    <div class="good_list_thumbnail">
                      <a href="/#!/goods/{{good._id}}">
                        <img ng-src="{{good.main_img}}" class="good_list_img" alt="">
                      </a>
                    </div> 
                    <div class="good_list_detail">
                      <div>
                        <a href="/#!/goods/{{good._id}}">
                          <h5 data-ng-bind="good.title | limitTo:30"></h5>
                        </a>
                          <div class="good_list_price">
                            <span>&yen;</span><span style="color:red;font-size: 16px;" data-ng-bind="good.price | number:2"></span>
                            <label class="for_free" ng-if="good.for_free===true">赠</label>
                            <label class="free_try" ng-if="good.free_try===true">试</label>
                            <span class="pull-right" data-ng-bind="good.delivery"></span>
                            <input type="hidden" name="amount" data-ng-model="good.amount" value="1">
                          </div>
                      </div>
                      <div class="row col-xs-12">
                          <div class="col-md-6 col-xs-6 pull-left">
                            <div class="buy" data-ng-controller="OrdersController">
                              <div class="form-group pull-left">
                                <input type="submit" id="buy_action" name="id:{{good._id}};name:{{good.name}}" class="btn btn-warning" value="购买" ng-click="buy()">
                              </div>
                              <div data-ng-show="error" class="text-danger">
                                <strong data-ng-bind="error"></strong>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 col-xs-6">
                            <div class="cart" data-ng-controller="CartsController">
                              <a type="submit" class="btn btn-default" ng-click="create()">购物篮<i class="glyphicon glyphicon-shopping-cart"></i></a>
                              <div data-ng-show="error" class="text-danger">
                                <strong data-ng-bind="error"></strong>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </label>
                  </div>
                </div>
              </div>
          </li>                
        </div>
      </div>
    </div>
  </div>
</section>
