<li class="good_list_listitem gl_lt">
	<label>
		<div class="good_list_thumbnail">
			<a href="/#!/goods/{{good._id}}">
				<img ng-src="{{good.main_img}}-260" class="good_list_img" alt="{{good.name}}">
				<div class="good_list_delivery">
					<span data-ng-bind="good.delivery"></span>
					<span class="free_try" ng-if="good.for_free===true">赠</span>
					<span class="free_try" ng-if="good.free_try===true">试</span>
				</div>
			</a>
		</div>
		<div class="good_list_detail">
			<div class="good_list_title">
				<a href="/#!/goods/{{good._id}}">
					<h5 data-ng-bind="good.title | limitTo:30"></h5>
	        	</a>
			</div>
			<div class="good_list_price">
				<span style="color:#888;font-size: 12px;">&nbsp;</span><span style="color:red;font-size: 16px;" data-ng-bind="good.price | number:2"></span>
				<span class="pull-right" ng-if="good.spec === 'g'"><em class="per" data-ng-bind="good.price/good.weight*500 | number:2"></em><span class="text-muted">元/500g</span></span>
			</div>
	        <div class="buy_action col-xs-12 row">
				<div class="col-md-6 col-xs-6 row buy_button" data-ng-controller="OrdersController">
					<a class="btf" ng-click="buy()">购 买</a>
				</div>
				<div class="col-md-6 col-xs-6 cart_button pull-right" data-ng-controller="CartsController">
					<a class="btf" ng-click="create()"><span>购物篮</span><i class="fa fa-shopping-cart"></i></a>
	            </div>
	            <div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
	            </div>
	        </div>
	  	</div>
	</label>
</li>
