<div ng-if="authentication.user.username !== undefined" data-ng-controller="CartsController" data-ng-init="find()">
	<div data-ng-repeat="cart in carts | limitTo:1 | filter: {'order_status': 'false'}" class="panel panel-default" ng-if="carts.length > 0">
    <div class="panel-heading">
      <div class="panel-title"><span class="glyphicon glyphicon-shopping-cart"></span>购物篮</div>
    </div>
    <div>
      <li>
        <div class="container gl_detail" style="padding-right: 2px;padding-left: 2px;">
          <table>
            <tr data-ng-repeat="item in cart.detail">
              <td>
                <div><a href="/#!/goods/{{item.goods._id}}" class="right_subcat_list">
                <img ng-src="{{item.goods.main_img}}-64" alt="" class="good_detail_push">
                </a>
                </div>
              </td>
              <td>
                <div>
                  <a href="/#!/carts/{{cart._id}}">
                    <label for="" data-ng-bind="item.goods.title | limitTo:30" class="text-muted" style="font-size:4px;"></label><span>&yen;</span><span style="color:red;font-size: 10px;" data-ng-bind="item.goods.price | number:2"></span>
                  	<label data-ng-bind="item.goods.delivery" class="badge badge-info" style="font-size:6px;background-color:green;"></label>
                  	<label class="for_free" ng-if="item.goods.for_free===true">赠</label>
                  	<label class="free_try" ng-if="item.goods.free_try===true">试</label>
                  </a>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </li>
    </div>
    <div class="panel-footer" data-ng-controller="OrdersController">
      总计:<span data-ng-bind="cart.detail.length"></span>种商品，合计&yen;<span data-ng-bind="cart.total | number:2"></span>元。
      <input type="submit" id="buy_action" name="id:{{good._id}};name:{{good.name}}" class="btn btn-warning" value="付款" ng-click="submit()">
    </div>
  </div>
</div>
