<section data-ng-controller="GoodsController">
	<div class="input-group">
	  <input type="text" class="form-control" data-ng-model="keyword" placeholder="搜搜看">
	  <span class="input-group-btn">
	    <button class="btn btn-default" type="button" ng-keydown="search()" ng-click="search()">Go!</button>
	  </span>
	</div>
	<div ng-if="results">
		<ul class="list-group">
			<li class="list-group-item" style="margin-top:5px;border-bottom:1px solid #C6E4F4;height:100%;" data-ng-repeat="re in results">
				<label for="">
					<div class="col-md-12 col-xs-12 row">
						<div class="col-xs-6"><a href="/#!/goods/{{re._id}}" style="display:block;"><img ng-src="{{re.main_img}}-64" alt=""></a></div>
						<div class="col-xs-6 text-muted">&yen;<span data-ng-bind="re.price" class="gl_f40"></span></div></div>
					</div>					
					<div class="col-xs-12 col-md-12"><div class="col-xs-12"><span data-ng-bind="re.title"></span></div>
				</label>
			</li>
		</ul>
	</div>
</section>
