<section>
<link rel="stylesheet" type="text/css" href="modules/admins/css/icons/icons.css" media="screen" />
    <div class="row" data-ng-controller="AdminsController">
        <div id="login" class="col-md-6">
            <h1>食安居后台管理登录/Login</h1>
            <div id="login-form">
                <form>
                    <div class="form-group">
                        <div class="form-item large">
                            <input type="text" id="username" name="username" class="form-control" data-ng-model="loginForm.username" placeholder="用户名">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-item large">
                            <input type="password" id="password" name="password" class="form-control" data-ng-model="loginForm.password" placeholder="密码，注意区分大小写">
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="login()">登 录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
