<section data-ng-controller="AdminsController">
	<div class="navbar mt20">
		<div class="col-md-3 col-xs-3 bg-gray">
			<ul class="">商品条码
				<li><a href="/#!/goods/create" target="_blank">新建商品条码</a></li>
				<li><a href="/#!/gds/admin/list" target="_blank">商品条码列表</a></li>
				<li><a href=""></a></li>
				<li><a href=""></a></li>
			</ul>
			<ul class="">商品
				<li><a href="/#!/goods/create" target="_blank">新建商品</a></li>
				<li><a href="/#!/goods/admin/list" target="_blank">商品列表</a></li>
				<li><a href=""></a></li>
				<li><a href=""></a></li>
			</ul>
			<ul class="">订单
				<li><a href="/#!/orders/admin/list" target="_blank">订单列表</a></li>
				<li><a href=""></a></li>
				<li><a href=""></a></li>
			</ul>
			<ul>社区
				<li><a href="/#!/ccenters" target="_blank">社区列表</a></li>
				<li><a href="/#!/ccenters/create" target="_blank">新建社区</a></li>
				<li><a href=""></a></li>
				<li><a href=""></a></li>
			</ul>
			<ul>论坛
				<li><a href="/#!/forums" target="_blank">版块列表</a></li>
				<li><a href="/#!/forums/create" target="_blank">新建版块</a></li>
				<li><a href=""></a></li>
				<li><a href=""></a></li>
			</ul>
			<ul>主题
				<li><a href="/#!/subjects" target="_blank">主题列表</a></li>
				<li><a href="/#!/subjects/create" target="_blank">新建主题</a></li>
				<li><a href=""></a></li>
				<li><a href=""></a></li>
			</ul>
			<ul>文章
				<li><a href="/#!/articles" target="_blank">文章列表</a></li>
				<li><a href="/#!/articles/create" target="_blank">新建文章</a></li>
				<li><a href=""></a></li>
				<li><a href=""></a></li>
			</ul>
			<ul>日志
				<li><a href="/#!/visithistorys" target="_blank">日志列表</a></li>
				<li><a href="/#!/visithistorys/admin/list" target="_blank">新建日志</a></li>
				<li><a href=""></a></li>
				<li><a href=""></a></li>
			</ul>
			<ul>用户
				<li><a href="/#!/users/admin/list" target="_blank">用户列表</a></li>
				<li><a href="/#!/users/create" target="_blank">新建用户</a></li>
				<li><a href=""></a></li>
				<li><a href=""></a></li>
			</ul>
		</div>
		<div class="col-md-9 col-xs-9">
			<div class="col-md-6 col-xs-6">
				<div ng-include="'modules/core/views/today-todos.client.view.html'"></div>
			</div>
			<div class="col-md-6 col-xs-6">
				<div ng-include="'modules/core/views/weather.client.view.html'"></div>
			</div>
		</div>
	</div>
</section>
