<section data-ng-controller="ArticlesController" data-ng-init="list()">
	<div class="mt20">
		<div ng-if="error" class="errorMessage"><span class="glyphicon glyphicon-error"></span><span class="label label-danger" data-ng-bind="error"></span></div>
		<div ng-if="articles">
			<div>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th>细类</th>
							<th>标题</th>
							<th>标签</th>
							<th>详情</th>
							<th>浏览量</th>
							<th>编辑</th>
							<th>删除</th>
						</tr>
					</thead>
					<tbody data-ng-repeat="article in articles" >
						<tr><div class="text-success" ng-if="success"><span class="label label-success" >修改成功！</span></div>
							<td><input type="text" data-ng-model="article.subcat" id="subcat" class="form-control" required></td>
							<td><input type="text" data-ng-model="article.title" id="title" class="form-control" required></td>
							<td><input type="text" data-ng-model="article.tags" id="tags" class="form-control"  required></td>
							<td><input type="text" data-ng-model="article.markdown" id="markdown" class="form-control"  required></td>
							<td data-ng-bind="article.pv"></td>
							<td><button class="btn btn-primary" ng-click="modify()" id="article">更新</button></td>
							<td><button class="btn btn-danger del" type="button" data-ng-click="del();" name="article" id="{{article._id}}">删除</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
