<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
	<div class="col-md-12 col-xs-12 mt20">
		<div class="col-md-9 col-xs-12">
			<div class="page-header">
				<div class="h3" data-ng-bind="article.title"></div>
				<div class="text-right">
					<a><span class="glyphicon glyphicon-eye-open"></span><span data-ng-bind="article.pv"></span></a>&nbsp;<a data-ng-controller="CollectsController" ng-click="create()"><span class="glyphicon glyphicon-star">收藏</span><span data-ng-bind="article.collect"></span></a>&nbsp;<a data-ng-controller="LikesController" ng-click="create()"><span class="glyphicon glyphicon-thumbs-up">赞</span><span data-ng-bind="article.like"></span></a>
				</div>
			</div>
			<div class="pull-right" data-ng-show="authentication.user._id == article.user._id">
				<a class="btn btn-primary" href="/#!/articles/{{article._id}}/edit">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
				<a class="btn btn-primary" data-ng-click="remove();">
					<i class="glyphicon glyphicon-trash"></i>
				</a>
			</div>
			<small>
				<em class="text-muted">
					发表于
					<span data-ng-bind="article.created | date:'mediumDate'"></span>
					by
					<span data-ng-bind="article.user.username"></span>
				</em>
			</small>
			<p class="lead" ng-bind-html="article.content"></p>
			<div data-ng-controller="CommentsController" ng-include="'modules/comments/views/list-comments.client.view.html'" onload="findByObj()"></div>
			<div ng-if="authentication.user.username !== undefined" ng-include="'modules/comments/views/create-comment.client.view.html'"></div>
		</div>
		<div class="col-md-3 col-xs-12" data-ng-controller="GoodsController">
			<div class="article_right_goods">
				<div class="good_detail_samecat">
					<ul class="breadcrumb text-right">同类精选<span class="glyphicon glyphicon-thumbs-up"></span></ul>
					<div class="good_subcat_list" data-ng-init="listSubcat()">
						<li data-ng-repeat="item in goods | filter:article.title | limitTo: 3">
							<a href="/#!/goods/{{item._id}}" class="right_subcat_list">
								<img ng-src="{{item.main_img}}" alt="" class="thumbnail">
								<label for="" data-ng-bind="item.title" class="h5"></label>
							</a>
						</li>
					</div>
				</div>
			</div>
		</div>
	</div>	
</section>
