<section data-ng-controller="CommentsController" data-ng-init="list()">
	<div class="mt20">
		<div ng-if="error" class="errorMessage"><span class="glyphicon glyphicon-error"></span><span class="label label-danger" data-ng-bind="error"></span></div>
		<div ng-if="comments">
			<div>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th>分类</th>
							<th>主题</th>
							<th>From</th>
							<th>To</th>
							<th>留言人</th>
							<th>内容</th>
							<th>浏览量</th>
							<th>编辑</th>
							<th>删除</th>
						</tr>
					</thead>
					<tbody data-ng-repeat="comment in comments" >
						<tr><div class="text-success" ng-if="success"><span class="label label-success" >修改成功！</span></div>
							<td>
								<div ng-if="comment.subjects"><a href="/#!/subjects">贴子</a></div>
								<div ng-if="comment.goods"><a href="/#!/goods">商品</a></div>
								<div ng-if="comment.articles"><a href="/#!/articles">文章</a></div>
							</td>
							<td>
								<div ng-if="comment.subjects"><a href="/#!/subjects/{{comment.subjects._id}}"><span data-ng-bind="comment.subjects.title"></span></a></div>
								<div ng-if="comment.goods"><a href="/#!/goods/{{comment.goods._id}}"><span data-ng-bind="comment.goods.title"></span></a></div><div ng-if="comment.articles"><a href="/#!/articles/{{comment.articles._id}}"><span data-ng-bind="comment.articles.title"></span></a>
								</div>
							</td>
							<td><span data-ng-bind="comments.user_from"></span></td>
							<td><span data-ng-bind="comments.user_to"></span></td>
							<td><span data-ng-bind="comment.user.username"></span></td>
							<td><input type="text" data-ng-model="comment.markdown" id="markdown" class="form-control"  required></td>
							<td data-ng-bind="comment.pv"></td>
							<td><a class="btn btn-primary" ng-click="modify()"><i class="glyphicon glyphicon-edit"></i></a>
							</td>
							<td><button class="btn btn-danger del" type="button" data-ng-click="del();" name="comment" id="{{comment._id}}">删除</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
