<style type="text/css" scoped="scoped">
    @import "dist/stylesheets/thinker-md.user.css";
    @import "dist/stylesheets/thinker-md.vendor.css";/*
    @import "dist/emoji/nature.css";
    @import "dist/emoji/object.css";
    @import "dist/emoji/people.css";
    @import "dist/emoji/place.css";
    @import "dist/emoji/Sysmbols.css";
    @import "dist/emoji/twemoji.css";*/
</style>
<script src="dist/javascripts/thinker-md.vendor.js"></script>
<section data-ng-controller="CommentsController">
    <div class="panel panel-primary">
        <div class="panel-heading text-right">只言片语证明我来过</div>
        <div class="panel-body">
            <form class="form-group" data-ng-submit="create()" novalidate>
                <div class="form-group">
                    <div class="controls">
                        <textarea type="text" data-ng-model="content" class="form-control" data-provide="markdown" rows="10" placeholder="这里输入内容,支持Markdown语法." required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>

            </form>
        </div>
    </div>
</section>
