<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
	<div>
		<p>尊敬的{{name}}，</p><br>
		<p>您请求重置您的密码，请访问以下的链接继续。</p>
		<a ng-href="{{url}}">点我继续</a>
		<p>如果链接失效，请复制至浏览器地址栏进行访问。</p>
		<strong>若非您请求修改，请忽略此邮件。如有打扰，深表歉意</strong>
		<br>
		{{appName}}
	</div>
	<p>Dear {{name}},</p>
	<br>
	<p>
		You have requested to have your password reset for your account at {{appName}}
	</p>
	<p>Please visit this url to reset your password:</p>
	<p>{{url}}</p>
	<strong>If you didn't make this request, you can ignore this email.</strong>
	<br>
	<br>
	<p>The {{appName}} Support Team</p>
</body>
</html>
