<section data-ng-controller="OrdersController" data-ng-init="findOne()">
	<div class="mt20" data-ng-controller="CcentersController" ng-init="findU()">
		<div class="od_top">
			<div class="odt_title">
				<h3>食安居--茗语e家</h3>
				<span class="label label-default" data-ng-bind="order.status"></span>
				<span class="h3" data-ng-bind="order.name"></span>
			</div>
			<div class="col-md-12 col-xs-12 text-right">购买时间：<span class="text-muted" data-ng-bind="order.created | date:'medium'"></span></div>
		</div>
		<div class="od_header">			
			<div>房间号：<span class="h1" data-ng-bind="order.user.roomNum"></span></div>
			<div class="col-md-6 col-xs-6">姓名：<span class="text-muted" data-ng-bind="order.user.username"></span></div>
			<div class="col-md-6 col-xs-6">联系方式：<span class="text-muted" data-ng-bind="order.user.mobile"></span></div>
			<div class="col-md-6 col-xs-6">支付方式：<span class="text-muted" ng-if="order.pay_method === 'alipay'">支付宝</span><span class="text-muted" ng-if="order.pay_method === 'cash'">现金</span><span class="text-muted" ng-if="order.pay_method === 'pos'">pos刷卡</span></div>
			<div class="col-md-6 col-xs-6">订单编号：<span class="text-muted" data-ng-bind="order._id"></span></div>
			<div class="col-md-6 col-xs-6">支付状态：<span class="text-muted" ng-if="order.status === false">未付款</span><span class="text-muted" ng-if="order.status === true">已付款</span></div>
			<div class="col-md-6 col-xs-6">支付编号：<span ng-if="order.trade_no !== undefined" class="text-muted" data-ng-bind="order.trade_no"></span><span ng-if="order.pos_no !== undefined" class="text-muted" data-ng-bind="order.pos_no"></span></div>			
		</div>
		<div class="od_table mt20">
			<table class="table table-hover table-bordered">
				<thead>
		    		<tr>
		    			<th>商品名称</th>
		    			<th>数量</th>
		    			<th>单价</th>
		                <th>赠品/试用品</th>
		    			<th>实付</th>
		    		</tr>
				</thead>
				<tbody data-ng-repeat="item in order.detail">
					<tr>
						<td><span data-ng-bind="item.goods.name | limitTo:10"></span></td>
						<td>
							<div ng-if="order.status">
								<span data-ng-bind="item.amount"></span>
							</div>
						</td>
						<td><span data-ng-bind="item.price | number:2"></span>元</td>
		                <td><span ng-if="item.goods.for_free == true">赠品</span><span ng-if="item.goods.free_try == true">试用品</span></td>
						<td><span data-ng-bind="item.amount*item.price | number:2"></span>元</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="od_footer mt20">
			<div>商品种类：<span data-ng-bind="order.detail.length"></span>&nbsp;商品数量：<span data-ng-bind="order.total_amount"></span>&nbsp;实付金额：<span data-ng-bind="order.total | number:2"></span>元&nbsp;客户签收：</div>
			<div class="col-md-12 col-xs-12">
				备注：<span data-ng-bind="order.bz"></span>
			</div>
			<div class="col-md-6 col-xs-6">茗语e家QQ群:&nbsp;<span data-ng-bind="ccenter.qqqun"></span></div>
			<div class="col-md-6 col-xs-6">投诉电话:&nbsp;13926515211<span data-ng-bind="ccenter.customcell"></span></div>
		</div>
	</div>
</section>
<style>
  .footer{display: none;}
</style>
