<section data-ng-controller="CcentersController" data-ng-init="list()">
	<div class="mt20">
		<div ng-if="error" class="errorMessage"><span class="glyphicon glyphicon-error"></span><span class="label label-danger" data-ng-bind="error"></span></div>
		<div class="mt20 list-group">
		    <div>
		        <table class="table table-hover table-bordered">
		            <thead>
		                <tr>
		                    <th>省/市</th>
		                    <th>区/县/街道</th>
		                    <th>详细地址</th>
		                    <th>地图/坐标</th>
		                    <th>小区名称</th>
		                    <th>QQ群</th>
		                    <th>更新</th>
		                    <th>删除</th>
		                </tr>
		            </thead>
		            <tbody data-ng-repeat="ccenter in ccenters" >
		                <tr>
		                	<div class="text-success" ng-if="success"><span class="label label-success" >修改成功！</span></div>
		                    <td><input data-ng-model="ccenter.province"><input data-ng-model="ccenter.city"></td>
		                    <td><input data-ng-model="ccenter.district"><input data-ng-model="ccenter.street"></td>
		                    <td><input type="text" data-ng-model="ccenter.detail"></td>
		                    <td><input data-ng-model="ccenter.lat"><input data-ng-model="ccenter.lng"></td>
		                    <td><a href="/#!/ccenters/{{ccenter._id}}"><input data-ng-model="ccenter.name"></a></td>
		                    <td><input data-ng-model="ccenter.qqqun"></td>
		                    <td><button class="btn btn-primary" ng-click="modify()" id="ccenter">更新</button></td>
		                    <td><button class="btn btn-danger" ng-click="del()">删除</button></td>
		                </tr>
		            </tbody>
		        </table>
		    </div>
		</div>
	</div>
</section>
