<script type="text/javascript">
function init() {
  var d = new Date();
  var map = new AMap.Map(mapDiv, {
  view:new AMap.View2D({
    center: new AMap.LngLat(116.39, 39.9),
    zoom:15
   })
  });
}
function loadScript() {
  var script = document.createElement("script");
  script.type = "text/javascript";
  script.src = "http://webapi.amap.com/maps?v=1.3&key=0b25cecdd198aad5b30412ce8647fa29&callback=init";
  document.body.appendChild(script);
}
window.onload = loadScript;
</script>
<section data-ng-controller="CcentersController" data-ng-init="find()">
    <div class="mt20 list-group">
    <div data-ng-controller="CcentersController" ng-init="findU()">您已入驻社区<span class="gl_f40" data-ng-bind="ccenter.name"></span></div>
        <div class="mt20">
          <h4 class="">社区列表</h4>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>省/市</th>
                        <th>区/县/街道</th>
                        <th>详细地址</th>
                        <th>地图/坐标</th>
                        <th>小区名称</th>
                        <th>房间号</th>
                        <th>QQ群</th>
                        <th>入驻</th>
                    </tr>
                </thead>
                <tbody data-ng-repeat="ccenter in ccenters" >
                    <tr>
                        <td><span data-ng-bind="ccenter.province"></span>/<span data-ng-bind="ccenter.city"></span></td>
                        <td><span data-ng-bind="ccenter.district"></span>/<span data-ng-bind="ccenter.street"></span></td>
                        <td><span data-ng-bind="ccenter.detail"></span></td>
                        <td><div>经度:<span data-ng-bind="ccenter.lat"></span>/纬度:<span data-ng-bind="ccenter.lng"></span></div></td>
                        <td><a href="/#!/ccenters/{{ccenter._id}}"><span data-ng-bind="ccenter.name"></span></a></td>
                        <td><input type="text" data-ng-model="ccenterDetails.roomNum"></td>
                        <td><span data-ng-bind="ccenter.qqqun"></span></td>
                        <td data-ng-controller="SettingsController"><button name="ccenterId" value="ccenter._id" ng-click="register()">入驻</button></td>
                    </tr>
                </tbody>
                <div ng-if="message"><span class="label-success" data-ng-bind="message"></span></div>
            </table>
        </div>
    </div>
    <div class="tips">
      <h1>房间号是我们对业主进行认证的重要渠道，请输入正确的房间号，茗语e家不会以任何形式泄露业主资料。</h1>
    </div>
    <!-- <div id="mapDiv" style="background:#ccc;width:500px;height:320px"></div> -->
</section>
