<section class="">
    <div class="fl col-md-6 col-xs-6" data-ng-repeat="cat in categories">
        <div ng-if="cat.goods.length > 0" class="panel panel-default">
            <div class="panel-heading">
                <span class="h5 panel-title text-right" data-ng-bind="cat.name"></span>
            </div>
            <div class="panel-body" >
                <div class="row good_list_all" >
                    <li class="" role="listitem">
                        <div data-ng-repeat="good in cat.goods | limitTo:2" class="grid-4 fl col-xs-6">
                            <div class="">
                                <div class="good_list_listitem">
                                    <label>
                                    <!-- <div class="mark"><span class="good_list_top m_ico"></span></div> -->
                                        <div class="good_list_thumbnail">
                                            <a href="/#!/goods/{{good._id}}">
                                                <img ng-src="{{good.main_img}}" class="good_list_img" alt="">
                                            </a>
                                        </div> 
                                        <div class="good_list_detail">
                                            <a href="/#!/goods/{{good._id}}">
                                                <h5 data-ng-bind="good.title | limitTo:30"></h5>
                                            </a>
                                            <div class="good_list_price">
                                                <span>&yen;</span><span style="color:red;font-size: 16px;" data-ng-bind="good.price | number:2"></span>
                                                <label class="for_free" ng-if="good.for_free===true">赠</label>
                                                <label class="free_try" ng-if="good.free_try===true">试</label>
                                                <span class="pull-right" data-ng-bind="good.delivery"></span>
                                                <input type="hidden" name="amount" data-ng-model="good.amount" value="1">
                                            </div>
                                        </div>
                                     </label>
                                </div>
                            </div>
                        </div>
                    </li>                
                </div>
            </div>
            <div class="panel-footer text-right">
                <a href="/#!/categories/{{cat._id}}">查看更多……</a>
            </div>
        </div>
    </div>
</section>
