<section data-ng-controller="CategoriesController" data-ng-init="findOne()">
    <div class="row col-md-12">
        <div class="col-md-9 col-xs-12" data-ng-controller="GoodsController" data-ng-init="findByCategory()">
            <div class="mt20"></div>
            <div ng-include="'modules/core/views/navbar.client.view.html'"></div>
            <div class="mt20" style="margin-bottom:30px;">
                <tabset>
                    <tab>
                        <tab-heading>
                            <span data-ng-bind="category.name"></span>
                        </tab-heading>
                        <!-- <div class="goods_list_tip clearfix">
                            <a href="/#!/goods/subcat/{{item}}" data-ng-repeat="item in category.subcat | limitTo:12"><span class="text-success" data-ng-bind="item"></span>&nbsp;</a>
                        </div> -->
                        <div class="row good_list_all" when-scrolled="loadMore()">
                            <div data-ng-repeat="good in goods" class="fl col-xs-6 col-md-3">
                                <div ng-include="'modules/goods/views/list-goods-item.client.view.html'"></div>
                            </div>
                        </div>
                    </tab>
                    <tab data-ng-repeat="item in category.subcat | orderBy:'-goods.length'" ng-click="listSubcat()">
                        <tab-heading><span data-ng-bind="item"></span>
                        </tab-heading>
                        <!-- <div class="goods_list_tip clearfix">
                            <a href="/#!/goods/subcat/{{item}}" data-ng-repeat="item in category.subcat | limitTo:12"><span class="text-success" data-ng-bind="item"></span>&nbsp;</a>
                        </div> -->
                        <div class="row good_list_all" when-scrolled="loadMore()">
                            <div data-ng-repeat="good in goods" class="fl col-xs-6 col-md-3">
                                <div ng-include="'modules/goods/views/list-goods-item.client.view.html'"></div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
        <div class="col-md-3 col-xs-12">
            <div class="mt20" ng-include="'modules/goods/views/search-goods.client.view.html'"></div>
                <div class="mt20">
                  <div class="panel panel-info">
                    <div class="panel-heading">
                      <div class="panel-title"><span class="glyphicon glyphicon-bullhorn"></span>&nbsp;公告</div>
                    </div>
                    <div class="panel-body">
                      <div data-ng-controller="ArticlesController" data-ng-init="find()">
                        <a href="/#!/articles/{{notice._id}}" data-ng-repeat="notice in articles | filter:'公告'"><p class="h5" data-ng-bind="notice.title"></p></a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="mt20" ng-include="'modules/core/views/today-todos.client.view.html'"></div> -->
                <div ng-include="'modules/goods/views/right-cart.client.view.html'"></div>
        </div>
    </div>    
</section>
