<section data-ng-controller="CollectsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Collects</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="collect in collects" data-ng-href="#!/collects/{{collect._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="collect.created | date:'medium'"></span>
				by
				<span data-ng-bind="collect.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="collect.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!collects.$resolved || collects.length">
    	No Collects yet, why don't you <a href="/#!/collects/create">create one</a>?
    </div>
</section>