<section data-ng-controller="VisithistorysController" data-ng-init="list()">
	<div class="mt20">
		<div ng-if="error" class="errorMessage"><span class="glyphicon glyphicon-error"></span><span class="label label-danger" data-ng-bind="error"></span></div>
		<div ng-if="visithistorys">
			<div>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th>用户信息</th>
							<th>客户端IP</th>
							<th>操作系统</th>
							<th>浏览器</th>
							<th>语言</th>
							<th>国家</th>
							<th>地区</th>
							<th>省</th>
							<th>市</th>
							<th>运营商</th>
							<th>https</th>
							<th>method</th>
							<th>url</th>
							<th>访问时间</th>
						</tr>
					</thead>
					<tbody data-ng-repeat="v in visithistorys" >
						<tr><div class="text-success" ng-if="success"><span class="label label-success" >修改成功！</span></div>
							<td><a ng-if="v.user" href="/#!/users/{{v.user._id}}"><img ng-src="{{v.user.avatar}}" style="width:45px;" alt=""><span data-ng-bind="v.user.username"></span></a><span class="h7" ng-if="v.user === null" data-ng-bind="v.sessionID"></span></td>
							<td><span data-ng-bind="v.remoteAddress"></span></td>
							<td><span class="h7" data-ng-bind="v.customOs"></span></td>
							<td><span class="h7" data-ng-bind="v.customBrowser"></span></td>
							<td><span data-ng-bind="v.customLanguage"></span></td>
							<td><span data-ng-bind="v.customCountry"></span></td>
							<td><span data-ng-bind="v.customArea"></span></td>
							<td><span data-ng-bind="v.customRegion"></span></td>
							<td><span data-ng-bind="v.customCity"></span></td>
							<td><span data-ng-bind="v.customIsp"></span></td>
							<td><span data-ng-bind="v.https"></span></td>
							<td><span data-ng-bind="v.method"></span></td>
							<td><span class="h7" data-ng-bind="v.originalUrl"></span></td>
							<td data-ng-bind="v.created | date:'medium'"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div>
			<ul class="pager">
				<li ng-if="page !== 0" class="previous">
					<a class="prepage" title="上一页" href="/#!/visithistorys/admin/list?p={{page-1}}" ng-click="list()">&larr;上一页</a>
				</li>
				<li ng-if="page !== 0 " class="next">
					<a id="next" class="nextpage" title="下一页" href="/#!/visithistorys/admin/list?p={{page+1}}" ng-click="list()"> &rarr;下一页</a>
				</li>
			</ul>
		</div>
	</div>
</section>
