<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>支付通知</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="//cdn.bootcss.com/normalize/3.0.3/normalize.css" />
</head>
<body>
	<div style="margin:0 auto;padding:100px;text-align:center;">
		<div style="height:200px;color:green;"><i class="fa fa-check-circle" style="font-size:8em;font-weight:800px;"></i><span>{{message}}</span></div>		
		<a href="/#!/orders/{{orderId}}"><h7>如跳转失败，请点击此处继续</h7></a>
	</div>	
</body>
</html>
