<section class="row" data-ng-controller="SettingsController">
	<div class="col-md-12 mt20">
		<div class="col-md-4 user_profile_left">
			<div ng-include="'modules/core/views/my.client.view.html'"></div>
			<!-- <div class="avatar">
				<img ng-src="{{user.avatar}}" ng-if="user.avatar !== undefined">
			</div>
			<div ng-if="user.avatar === undefined" style="width:200px;height:200px;border-radius:30px 30px 30px 30px;background-color:#ccc;">
				<div class="text-center">
					<span style="font-size:65px;">面子呢*_^</span>
					<div><a href="/#!/usercenter#modal">现在上传</a></div>
				</div>
				<div id="#modal" class="modal fade">111</div>
			</div>
			<div class="mt20">
				<div class="username">
					<a href="/#!/settings/edit" class="pull-right"><span>编辑资料</span></a>
					<p data-ng-bind="user.username"></p>
				</div>
				<div class="user_profile_attr" data-ng-controller="CcentersController" data-ng-init="findU()">
					<div class="email">
						<p><span class="text-muted glyphicon glyphicon-envelope">&nbsp;</span><span data-ng-bind="user.email"></span></p>
						<p><span class="glyphicon glyphicon-time">&nbsp;</span>注册于<span data-ng-bind="user.created | date"></span></p>
						<p><span class="glyphicon glyphicon-home">&nbsp;</span><span data-ng-bind="ccenter.name"></span><span ng-if="ccenter.length > 0"><a href="/#!/ccenters">入驻社区</a></span></p>
					</div>
				</div>
				<div class="vcard_stars">
					<div>{{user}}
						<a  class="vcard_star" href="#"><h4 data-ng-bind="user.followers.length"></h4><span class="text-muted">粉丝</span></a>
						<a  class="vcard_star" href="#"><h4 data-ng-bind="user.collect.length"></h4><span class="text-muted">圈子</span></a>
						<a  class="vcard_star" href="#"><h4 data-ng-bind="user.following.length"></h4><span class="text-muted">关注</span></a>
					</div>
				</div>
			</div> -->
		</div>
		<!-- add -->
		<div class="col-md-8 pull-right">
			<div class="breadcrumb"><strong>Tips:</strong><span>在这里可以上传头像，查看/修改个人资料</span>
			</div>
			<!-- tabs begin -->
			<div data-ng-controller="CollectsController" ng-init="myCollect()">
				<tabset>
					<tab>
						<tab-heading>
							<span>我的美文</span>
						</tab-heading>
						<div data-ng-include="'/modules/articles/views/list-articles.client.view.html'" ></div>
					</tab>
					<tab>
						<tab-heading>购物篮</tab-heading>
						<div class="carts" class="" >
							<div data-ng-include="'/modules/carts/views/list-carts.client.view.html'" ></div>
						</div>
					</tab>
					<tab heading="订单">
						<div class="orders" class="" >
							<div data-ng-include="'/modules/orders/views/list-orders.client.view.html'" ></div>
						</div>
					</tab>
					<tab heading="收藏宝贝">
						<div class="collections">
							<div data-ng-include="'/modules/collects/views/my-collects-goods.client.view.html'" ></div>
						</div>
					</tab>
					<tab heading="关注主题">
						<div class="collections" class="" >
							<div data-ng-include="'/modules/collects/views/my-collects.client.view.html'" ></div>
						</div>
					</tab>
					<tab heading="关注文章">
						<div class="collections">
							<div data-ng-include="'/modules/collects/views/my-collects-articles.client.view.html'" ></div>
						</div>
					</tab>
				</tabset>
			</div>
			<div>
			</div>
		</div>
	</div>
</section>
