<section data-ng-controller="SettingsController" ng-init="find()">
	<div class="mt20">
		<div>
			<div>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th>会员组</th>
							<th>用户名</th>
							<th>头像</th>
							<th>邮箱</th>
							<th>手机号</th>
							<th>入驻小区</th>
							<th>房间号</th>
							<th>支付宝账号</th>
							<th>和家卡</th>
							<th>积分</th>
							<th>入驻时间</th>
							<th>最后登录</th>
							<th>修改</th>
							<th>删除</th>	
						</tr>
					</thead>
					<tbody data-ng-repeat="user in users" >
						<tr>
							<td><span data-ng-bind=""></span></td>
							<td><a href="/#!/users/{{user._id}}"><span data-ng-bind="user.username"></span></a></td>
							<td><a href="/#!/users/{{user._id}}"><img ng-src="{{user.avatar}}" style="max-width:36px;"></a></td>
							<td data-ng-bind="user.email"></td>
							<td data-ng-bind="user.mobile"></td>
							<td data-ng-bind="user.ccenter.name"></td>
							<td data-ng-bind="user.roomNum"></td>
							<td data-ng-bind="user.buyer_email"></td>
							<td data-ng-bind="user.card_id"></td>
							<td data-ng-bind="user.pay_total"></td>
							<td data-ng-bind="user.created"></td>
							<td data-ng-bind="user.updated"></td>
							<td><a class="btn btn-primary" href="/#!/users/{{user._id}}/edit"><i class="glyphicon glyphicon-edit"></i></a>
							</td>
							<td><button class="btn btn-danger del" type="button" data-ng-click="del();" name="user" id="{{user._id}}">删除</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
