<section data-ng-controller="SettingsController" ng-init="find()">
	<div class="mt20">
		<div>
			<div>
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<th>分类</th>
							<th>细类</th>
							<th>商品图片</th>
							<th>商品名称</th>
							<th>商品标题</th>
							<th>商品价格</th>
							<th>销量</th>
							<th>浏览量</th>
							<th>编辑</th>
							<th>删除</th>
						</tr>
					</thead>
					<tbody data-ng-repeat="good in goods" >
						<tr>
							<td><a href="/#!/categories/{{good.category._id}}"><span data-ng-bind="good.category.name"></span></a></td>
							<td data-ng-bind="good.subcat"></td>
							<td><a href="/#!/goods/{{good._id}}"><img src="{{good.main_img}}" style="max-width:80px;"></a></td>
							<td data-ng-bind="good.name"></td>
							<td data-ng-bind="good.title"></td>
							<td data-ng-bind="good.price"></td>
							<td data-ng-bind="good.sold"></td>
							<td data-ng-bind="good.pv"></td>
							<td><a class="btn btn-primary" href="/#!/goods/{{good._id}}/edit"><i class="glyphicon glyphicon-edit"></i></a>
							</td>
							<td><button class="btn btn-danger del" type="button" data-ng-click="del();" name="good" id="{{good._id}}">删除</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
