<section data-ng-controller="SettingsController" ng-init="findOne()">
	<div class="col-md-12 col-xs-12" style="margin-top:20px;">
		<div class="col-md-4 col-xs-4">
			<div class="avatar">
				<img ng-src="{{user.avatar}}" ng-if="user.avatar !== undefined">
			</div>
			<div ng-if="user.avatar === undefined" style="width:200px;height:200px;border-radius:30px 30px 30px 30px;background-color:#ccc;">
				<div class="text-center">
					<span style="font-size:65px;">面子呢*_^</span>
				</div>
			</div>
			<div class="mt20">
				<div class="username">
					<p data-ng-bind="user.username"></p>
				</div>
				<div class="user_profile_attr">
					<div class="email">
						<p><span class="text-muted glyphicon glyphicon-envelope">&nbsp;</span><span data-ng-bind="user.email"></span></p>
						<p><span class="glyphicon glyphicon-time">&nbsp;</span>注册于<span data-ng-bind="user.created | date"></span></p>
						<p><span class="glyphicon glyphicon-home">&nbsp;</span><span data-ng-bind="user.ccenter.name"></span></p>
					</div>
				</div>
				<div class="vcard_stars">
					<div>
						<a class="vcard_star" ng-click="follow()"><h4 data-ng-bind="user.followers.length"></h4><span class="text-muted">粉丝</span></a>
						<a class="vcard_star"><h4 data-ng-bind="user.following.length"></h4><span class="text-muted">关注</span></a>
						<!-- <a class="vcard_star" href="#"><h4 data-ng-bind="user.collect.length"></h4><span class="text-muted">圈子</span></a> -->
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8 col-xs-8" data-ng-controller="CollectsController" ng-init="myCollect()">
			<tabset>
				<tab>
					<tab-heading>
						<span>他的美文</span>
					</tab-heading>
					<div data-ng-include="'/modules/articles/views/list-articles.client.view.html'" ></div>
				</tab>
				<tab heading="他的贴子">
					<div data-ng-controller="SubjectsController" ng-init="find()">
						<div class="row">
							<div class="col-md-12">
								<ul class="list-group">
									<li class="list-group-item" data-ng-repeat="subject in subjects | filter:user._id">
										<a href=""><img ng-src="{{subject.user.avatar}}" alt="" style="max-width:26px;"></a>&nbsp;
										<a href="/#!/subjects/subcat/{{subject.subcat}}"><label class="label label-default" data-ng-bind="subject.subcat"></label></a>
										<span>&nbsp;</span>
										<span data-ng-bind="subject.comment.length"></span>&nbsp;/
										<span data-ng-bind="subject.pv"></span>
										<span>&nbsp;</span>
										<a href="" ><span data-ng-bind="subject.forum.name"></span></a>
										&nbsp;<a href="/#!/subjects/{{subject._id}}"><span data-ng-bind="subject.title"></span></a>
										<span class="text-muted text-right">发表于&nbsp;<span data-ng-bind="subject.created | date:'mediumDate'"></span></span>
										<span class="pull-right" data-ng-bind="subject.comment.createdAt | limitTo:1"></span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</tab>
			</tabset>
		</div>
	</div>
</section>
