<section data-ng-controller="CartsController" data-ng-init="find()">
    <div class="list-group">
    	<table class="table table-hover table-bordered">
    		<thead>
        		<tr>
                    <th>日期</th>
        			<th>商品详情</th>
        			<th>应付(元)</th>
                    <th>状态</th>
                    <th>删除</th>
        		</tr>
    		</thead>
    		<tbody data-ng-repeat="cart in carts">
    			<tr>
                    <td><a href="/#!/carts/{{cart._id}}"><span data-ng-bind="cart.name"></span><h6 data-ng-bind="cart.created | date:'medium'"></h6></a></td>
    				<td>
                        <table>
                            <tr data-ng-repeat="item in cart.detail">
                                <td>
                                    <div class="fl">
                                        <a href="/#!/goods/{{item.goods._id}}">
                                            <img ng-src="{{item.goods.main_img}}" alt="" class="thumbnail" style="max-width:60px;">
                                        </a>
                                    </div>
                                    <div class="">
                                        <div class="detail">
                                            <h5 data-ng-bind="item.goods.title"></h5>
                                            <div>
                                                <span>&yen;</span><span data-ng-bind="item.goods.price"></span>元；共<span data-ng-bind="item.amount"></span>件
                                                <label class="for_free" ng-if="item.goods.for_free===true">赠</label>
                                                <label class="free_try" ng-if="item.goods.free_try===true">试</label>
                                                
                                            </div>
                                        </div>
                                        <!-- 删除购物篮具体商品 -->
                                        <!-- <div class="col-xs-2">
                                        <a href="/#!/carts_goods/delete" target="_blank">删除</a>
                                        <input type="submit" class="btn btn-danger del" type="button" data-ng-click="delGoods();" name="delgoods" data-ng-model="delgoods" value="删除" id="{{item.goods._id}}"></div>
                                        <button class="btn btn-danger del" type="button" data-ng-click="delGoods();" name="delgoods" id="{{item._id}}">删除</button> -->
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
    				<td><span data-ng-bind="cart.total"></span></td>
                    <td><span ng-if="cart.order_status === true" class="text-muted">订单已提交</span></td>
                    <td>

                        <button class="btn btn-danger del" type="button" data-ng-click="del();" name="cart" id="{{cart._id}}" ng-if="cart.order_status === false">删除</button>
                    </td>
    			</tr>
    		</tbody>
    	</table>
    </div>
</section>
