<section data-ng-controller="CartsController" data-ng-init="findOne()">
	<div class="mt20">
		<div class="col-md-12 col-xs-12">
			<div class="page-header">
				<div class="title">
					<span class="h1">&nbsp;我的购物篮</span>
				</div>
				<div class="mt20">
					<span class="label label-default" ng-if="cart.order_status === false">未成功提交</span><span class="label label-success" ng-if="cart.order_status === true">已成功提交</span>
					<span class="small pull-right" data-ng-bind="cart.number | date:'medium' "></span>
				</div>
			</div>
			<!-- 购物篮begin -->
			<div class="cart_view_list">
				<div class="cart_view_list_header">
					<div class="row table-responsive">
						<table class="table table-hover table-response">
							<thead>
								<tr><input ng-if="cart.order_status === false" type="checkbox" data-ng-model="All" ng-checked="checkAll()">
									<th>全选</th>
									<th>货品</th>
									<th>数量</th>
									<th>单价(元)</th>
									<th>赠品/免费试用</th>
									<th>金额(元)</th>
									<th>删除</th>
								</tr>
							</thead>
							<tbody data-ng-repeat="item in cart.detail">
								<tr>
									<td>
										<input ng-if="cart.order_status === false" type="checkbox" id="{{item.goods._id}}" data-ng-model="item.detail">
									</td>
									<td>
										<a href="/#!/goods/{{item.goods._id}}">
											<img ng-src="{{item.goods.main_img}}-64" alt="">
											<p data-ng-bind="item.goods.title"></p>
										</a>
									</td>
									<td>
										<div ng-if="cart.order_status === false" >
											<span ng-if="item.goods.free_try || item.goods.for_free" data-ng-bind="item.amount"></span>
										</div>
										<div ng-if="cart.order_status !== true">
											<input ng-hide="item.goods.free_try || item.goods.for_free" type="text" data-ng-model="item.amount">
											<button ng-hide="item.goods.free_try || item.goods.for_free" type="btn btn-primary" ng-click="changeAmount()" >更新</button>
										</div>
									</td>
									<td data-ng-bind="item.goods.price" data-ng-model="item.goods.price"></td>
									<td><span ng-if="item.goods.for_free">赠品</span><span ng-if="item.goods.free_try">试用品</span></td>
									<td name="total" >
										<div data-ng-bind="item.amount*item.price"></div>
									</td>
									<td ng-if="cart.order_status === false">
										<button class="btn btn-danger del" type="button" data-ng-click="delGoods();" id="{{item._id}}">删除</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div>
				<div class="page-body">
					<strong>总计:</strong>&nbsp;<span data-ng-bind="cart.total_amount"></span>件商品;&nbsp;&yen;<span data-ng-bind="cart.total"></span>元
					<div class="fr" data-ng-controller="OrdersController">
				        <form class="" data-ng-submit="submit()" novalidate>
				            <fieldset>
				                <div class="form-group">
				                    <input type="submit" class="btn btn-default" ng-if="cart.order_status === false" value="结算">
				                </div>
								<div data-ng-show="error" class="text-danger">
									<strong data-ng-bind="error"></strong>
								</div>
				            </fieldset>
				        </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
