<script src="http://webapi.amap.com/maps?v=1.3&key=a87d102cf0e8a3b8589dac06e7810362&callback=initialize" type="text/javascript" charset="utf-8"></script>
<!-- <script src="http://js.webapi.amap.com/maps/main?v=1.2&key=8325164e247e15eea68b59e89200988b&m=441900&vrs=1.2.20.13-150924" type="text/javascript" charset="utf-8"></script> -->
	<div class="page-header">
		<h1 data-ng-bind="ccenter.name"></h1>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="ccenter.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="ccenter.user.displayName"></span>
		</em>
	</small>
	<div>{{ccenter}}</div>
	<div class="mt20">
		<div class="col-md-6 col-xs-6">
			<h1 data-ng-bind="ccenter.name"></h1>
			<ul>
				<li>派送地点：<span data-ng-bind="ccenter.l"></span></li>
				<li>服务时间：<span data-ng-bind="ccenter.l"></span></li>
				<li>派送时间：<span data-ng-bind="ccenter.l"></span></li>
				<li>社区QQ群：<span data-ng-bind="ccenter.qqqun"></span></li>
			</ul>
		</div>
		<div class="col-md-6 col-xs-6">
			<div id="warp" class="my-map">
				<div id="container" style="height:180px;background-color:#f5f5f5;"></div>				
				<!--  type="text/javascript" charset="utf-8" -->
			    <script type="text/javascript">
			    	// var map = new AMap.Map('container',{
			     //        resizeEnable: true,
			     //        zoom: 10,
			     //        center: [116.480983, 40.0958]
			    	// });
			    
			    !function(){
			        var infoWindow, map, level = 8,
			            center = {lng: 114.085947, lat: 22.547},
			            features = [];
			 
			        function loadFeatures(){
			            for(var feature, data, i = 0, len = features.length, j, jl, path; i < len; i++){
			                data = features[i];
			                switch(data.type){
			                    case "Marker":
			                        feature = new AMap.Marker({ map: map, position: new AMap.LngLat(data.lnglat.lng, data.lnglat.lat),
			                            zIndex: 3, extData: data, offset: new AMap.Pixel(data.offset.x, data.offset.y), title: data.name,
			                            content: '<div class="icon icon-' + data.icon + ' icon-'+ data.icon +'-' + data.color +'"></div>' });
			                        break;
			                    case "Polyline":
			                        for(j = 0, jl = data.lnglat.length, path = []; j < jl; j++){
			                            path.push(new AMap.LngLat(data.lnglat[j].lng, data.lnglat[j].lat));
			                        }
			                        feature = new AMap.Polyline({ map: map, path: path, extData: data, zIndex: 2,
			                            strokeWeight: data.strokeWeight, strokeColor: data.strokeColor, strokeOpacity: data.strokeOpacity });
			                        break;
			                    case "Polygon":
			                        for(j = 0, jl = data.lnglat.length, path = []; j < jl; j++){
			                            path.push(new AMap.LngLat(data.lnglat[j].lng, data.lnglat[j].lat));
			                        }
			                        feature = new AMap.Polygon({ map: map, path: path, extData: data, zIndex: 1,
			                            strokeWeight: data.strokeWeight, strokeColor: data.strokeColor, strokeOpacity: data.strokeOpacity,
			                            fillColor: data.fillColor, fillOpacity: data.fillOpacity });
			                        break;
			                    default: feature = null;
			                }
			                if(feature){ AMap.event.addListener(feature, "click", mapFeatureClick); }
			            }
			        }
			 
			        function mapFeatureClick(e){
			            if(!infoWindow){ infoWindow = new AMap.InfoWindow({autoMove: true}); }
			            var extData = e.target.getExtData();
			            infoWindow.setContent("<h5>" + extData.name + "</h5><div>" + extData.desc + "</div>");
			            infoWindow.open(map, e.lnglat);
			        }
			 
			        map = new AMap.Map("mapContainer", {center: new AMap.LngLat(center.lng, center.lat), level: level});
			         
			        loadFeatures();
			        map.plugin(["AMap.ToolBar", "AMap.OverView", "AMap.Scale"], function(){
			            map.addControl(new AMap.ToolBar);
			            map.addControl(new AMap.OverView({isOpen: true}));
			            map.addControl(new AMap.Scale);
			        });
			    }();
			    </script>
			</div>			
		</div>
	</div>
