<!-- <script src="http://webapi.amap.com/maps?v=1.3&key=a87d102cf0e8a3b8589dac06e7810362&callback=initialize" type="text/javascript" charset="utf-8"></script> -->
<!-- <script src="http://js.webapi.amap.com/maps/main?v=1.2&key=8325164e247e15eea68b59e89200988b&m=441900&vrs=1.2.20.13-150924" type="text/javascript" charset="utf-8"></script> -->
	<div class="page-header">
		<h1 data-ng-bind="ccenter.name"></h1>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="ccenter.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="ccenter.user.displayName"></span>
		</em>
	</small>
	<div>{{ccenter}}</div>
	<div class="mt20">
		<div class="col-md-6 col-xs-6">
			<h1 data-ng-bind="ccenter.name"></h1>
			<ul>
				<li>派送地点：<span data-ng-bind="ccenter.l"></span></li>
				<li>服务时间：<span data-ng-bind="ccenter.l"></span></li>
				<li>派送时间：<span data-ng-bind="ccenter.l"></span></li>
				<li>社区QQ群：<span data-ng-bind="ccenter.qqqun"></span></li>
			</ul>
		</div>
		<div class="col-md-6 col-xs-6">
			<body><div class="row"><div class="container ccenter_bgm"><div class="col-md-5"><div class="ccenters"><ul><li class="ccenter_name_bg"><a href="/c/5520cd8e976eb6ea6c413428"><h1>&nbsp;茗语华苑</h1></a></li></ul></div></div><div class="col-md-6"><div id="mapContainer"></div><script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=a87d102cf0e8a3b8589dac06e7810362"></script><script type="text/javascript">var imageLayer = new AMap.ImageLayer({
			  url:"http://webapi.amap.com/images/marker_sprite.png",
			  bounds: new AMap.Bounds(
			    new AMap.LngLat(114.0344,22.7588),
			    new AMap.LngLat(114.0355,22.7599)),
			    zooms:[6,18]
			  });
			function addMarker(){
			  var marker = new AMap.Marker({
			    icon:"http://webapi.amap.com/images/marker_sprite.png",
			    position:new AMap.LngLat(114.060059,22.530317)
			  });
			  marker.setMap(map);  //在地图上添加点
			};
			(function(exports){
			var map = new AMap.Map('mapContainer', {
			  layers:[
			    new AMap.TileLayer(),
			    new AMap.TileLayer.RoadNet({zIndex:10}),
			    imageLayer
			  ],
			//resizeEnable: true,
			//rotateEnable: true,
			//dragEnable: true,
			//zoomEnable: true,
			//设置可缩放的级别
			//zooms: [3,18],
			//传入2D视图，设置中心点和缩放级别
			view: new AMap.View2D({
			center: new AMap.LngLat(114.060059,22.530317),
			zoom: 10
			})
			});
			map.plugin(['AMap.OverView'], function(){
			  //加载鹰眼插件
			  overView = new AMap.OverView({
			    isOpen:true  
			    //- 初始化展开鹰眼窗口
			  });
			  map.addControl(overView);
			});
			map.plugin(["AMap.ToolBar"],function(){
			  toolBar = new AMap.ToolBar();
			    map.addControl(toolBar);  
			});
			})(window);
			addMarker();</script></div></div></div></body>				
		</div>
	</div>
